{% extends 'custom-layouts/enquirer/enquirer-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">Page not found</h1>
        <p>Check that the web address you typed is correct.</p>
        <p>If you pasted the web address, check you copied the entire address.</p>
        <p>If the web address is correct, then the link that brought you here could be broken. Create an incident through <a href="https://nhsdigitallive.service-now.com/nhs_digital">ServiceNow</a> so we can fix it.</p>
        <p>For urgent queries, you’ll need to create a request through ServiceNow.</p>
    </div> <!-- /. nhsuk-grid-column-two-thirds -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}