{% extends 'custom-layouts/enquirer/enquirer-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">Something went wrong</h1>
        <h2>What you can do:</h2>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>refresh the page</li>
          <li>
            <a href="../../../cohort-enquirer/v3/start-page">return to the Find out why a patient is in a cohort homepage</a> and try again
          </li>
        </ul>
        <p>Create an incident through <a href="https://nhsdigitallive.service-now.com/nhs_digital">ServiceNow</a> if the problem continues.</p>
    </div> <!-- /. nhsuk-grid-column-two-thirds -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}
