{% extends 'custom-layouts/enquirer/enquirer-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">You have successfully logged out</h1>
        <p>Log in again to continue using the Find out why a patient is in a cohort tool.</p>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Log in
        </button>
    </div> <!-- /. nhsuk-grid-column-two-thirds -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}