{% extends 'custom-layouts/enquirer/enquirer-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">Find out why a patient is in a cohort is currently unavailable</h1>
        <p class="nhsuk-body">We are having technical problems. Try again later.</p>
        <p><a href="#">Return to the Find out why a patient is in a cohort homepage</a></p>
        <p>For urgent queries, you’ll need to create a request through <a href="https://nhsdigitallive.service-now.com/nhs_digital">ServiceNow</a>.</p>
    </div> <!-- /. nhsuk-grid-column-two-thirds -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}
