{% extends 'custom-layouts/enquirer/enquirer-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">You do not have access</h1>
        <p class="nhsuk-body">You are not authorised to use Cohort Enquirer.</p>
        <p><a href="#">Return to Cohort Enquirer homepage</a></p>
    </div> <!-- /. nhsuk-grid-column-two-thirds -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}
