{% extends 'custom-layouts/enquirer/enquirer-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
    Acceptable Use Policy (AUP) - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <form action="#" method="POST">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Acceptable Use Policy (AUP)</h1>

        <h2 class="nhsuk-heading-l">Overview</h2>
        <p>Information technology resources, such as PCs, laptops, tablet devices, and smartphones offer new and exciting ways of working and engaging with our colleagues and citizens.</p>
        <p>However, we must also be aware that improper use can impact us, our colleagues, citizens, reputation, and the public purse.</p>
        <p>This AUP aims to protect all users of the find out why a patient is in a cohort tool and minimise such risks by providing clarity on the behaviours expected and required by the team and the consequences of breaching the AUP.</p>

        <h2 class="nhsuk-heading-l">Purpose</h2>
        <p>To ensure that users understand their responsibility for the appropriate use of the find out why a patient is in a cohort tool.</p>
        <p>Understanding this will help users to protect themselves and the information, and reputation.</p>

        <h2 class="nhsuk-heading-l">Scope</h2>
        <p>All NHS England's equipment and information which includes all:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>information systems</li>
            <li>hardware</li>
            <li>software</li>
            <li>voice-telephony</li>
            <li>social media</li>
            <li>video</li>
            <li>email</li>
            <li>internet</li>
            <li>instant messaging</li>
            <li>intranet</li>
        </ul>
        <p>Patient’s personal information which is processed by the find out why a patient is in a cohort tool is also subject to this policy.</p>

        <h2 class="nhsuk-heading-l">Who the policy applies to</h2>
        <p>All NHS England employees, agents, contractors, consultants, and business partners (referred to in this document as ‘users’) who may have access to the find out why a patient is in a cohort tool.</p>

        <h2 class="nhsuk-heading-l">Acceptable user principles</h2>
        <p>Users will:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>confirm prior to the use of the find out why a patient is in a cohort tool that they agree to this AUP and understand that breaching this policy may result in disciplinary procedures</li>
            <li>be responsible for their own actions and act responsibly, professionally, and respect the Department and fellow employees, suppliers, partners, citizens</li>
            <li>use information, systems, and equipment in line with NHS England security and Information Management policies</li>
            <li>immediately report any breach of this Acceptable Use Policy to their line manager and contact the Data Protection Officer team on 0113 518 0000 (option 3) or email them at <a href="mailto:cybersecurity@nhs.net">cybersecurity@nhs.net</a></li>
            <li>never undertake an illegal activity or any activity that would be harmful to the NHS England's reputation or jeopardise staff and/or patient data, on NHS England technology</li>
            <li>understand that both business and personal use will be monitored as appropriate</li>
            <li>use the <a href="https://nhsengland.sharepoint.com/sites/thehub/SitePages/FTSU-anchor.aspx">freedom to speak up</a> to report any concerns or whistle blow about suspected misuse of NHS England information or electronic equipment</li>
            <li>undertake education and awareness on security and using NHS England information and technology, including the annual security e-learning, to be able to understand, recognise, and report threats, risks, and incidents</li>
        </ul>

        <h2 class="nhsuk-heading-l">User ID's and passwords</h2>
        <p>In line with the <a href="https://nhsengland.sharepoint.com/sites/NationalPolicyRepository/Shared%20Documents/Information%20Security%20Policy.pdf?web=1">NHS England information security policy</a>, users will:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>protect usernames, staff numbers, smart cards, and passwords appropriately</li>
            <li>create secure passwords following best practice guidance</li>
            <li>not logon to any NHS England systems using another user’s credentials</li>
            <li>remove their network access smartcard and/or lock the screen when leaving temporarily devices that are in use</li>
        </ul>

        <h2 class="nhsuk-heading-l">Managing and protecting information</h2>
        <p>Users should:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>understand that they and NHS England have a legal responsibility to protect personal and sensitive information</li>
            <li>ensure that all information is created, used, shared, and disposed of in line with business need</li>
            <li>not attempt to access sensitive information in public areas unless there is a valid business need that is appropriate to their job role</li>
            <li>be careful not to be overheard or overlooked in public areas when conducting NHS England business</li>
            <li>use privacy screens if they need to view sensitive information in public spaces to ensure confidentiality and prevent unauthorised access</li>
            <li>not provide information in response to callers or e-mails whose identity they cannot verify</li>
            <li>apply the <a href="https://www.gov.uk/government/publications/government-security-classifications">Government Classification policy</a> appropriately to document headers and email subject lines in relation to the Official-Sensitive handling caveat</li>
            <li>not attempt to access, amend, damage, delete or disseminate another person’s files, emails, communications, or data without the appropriate authority</li>
            <li>not attempt to compromise or gain unauthorised access to NHS England IT, telephony, or content, or prevent legitimate access to it</li>
        </ul>

        <h2 class="nhsuk-heading-l">Email or voice communication</h2>
        <p>Users will:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>comply with the NHS England’s email policies</li>
            <li>only use appropriate language in messages, emails, faxes, and recordings. Threatening, derogatory, abusive, indecent, obscene, racist, sexist or otherwise offensive content will not be tolerated</li>
            <li>not engage in the mass transmission of unsolicited emails (SPAM)</li>
            <li>not alter the content of a third party’s message when forwarding it unless authorised</li>
            <li>not try to assume the identity of another user or create or send material designed to mislead people about who originated or authorised it (for example, through misuse of scanned signatures)</li>
            <li>be vigilant to phishing emails and know how to spot and report suspicious emails</li>
            <li>only use your NHS email address for NHS England business-related activities and linked organisational activity (for example, NHS discount schemes, CSL, Civil Service Jobs.) </li>
        </ul>

        <h2 class="nhsuk-heading-l">Devices, systems and networks</h2>
        <p>NHS England permits connecting NHS England devices, laptops Surface pros, by WiFi (or Ethernet) to the internet to connect back to the department from anywhere for example, home or a hotel.</p>
        <p>However, NHS England devices must not be connected to the internet via Captive Portals, for security reasons. NHS England devices are set up, so they do not connect to Captive Portals.</p>
        <p>NHS England permits wirelessly connecting an NHS England Device to an NHS England, or personal, mobile phone via a personal hotspot for the purpose of acquiring an internet connection (tethering) for work purposes.</p>
        <p>Tethering a personal mobile phone is permissible but NHS England cannot be held liable for this use of a personal mobile phone including any data charges, and so any use of a personal phone for this purpose is the individual’s choice.</p>
        <p>Ensure no official information is stored on devices without NHS England security controls.</p>
        <p>Seek exceptions to security policies by applying for an Exception.</p>

        <h2 class="nhsuk-heading-l">Physical security</h2>
        <p>Users will:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>be responsible for keeping all portable devices assigned to them safe and secure and immediately report any loss or damage of their equipment to their line manager and the Data Protection Officer team (<a href="mailto:cybersecurity@nhs.net">cybersecurity@nhs.net</a>)</li>
            <li>return all NHS England equipment when leaving NHS England (line Managers must complete all appropriate exit procedures with leavers)</li>
        </ul>

        <h2 class="nhsuk-heading-l">Exceptions</h2>
        <p>Any exception to this policy must be approved by the NHS England Security Team in advance.</p>

        <h2 class="nhsuk-heading-l">Compliance</h2>
        <p>If for any reason users are unable to comply with this policy or require the use of technology which is outside its scope, this should be discussed with their line manager in the first instance and then the Data Protection Officer team (<a href="mailto:cybersecurity@nhs.net">cybersecurity@nhs.net</a>) who can provide advice on escalation or exception routes.</p>
        <p>Line managers are responsible for:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>ensuring that users understand their responsibilities and consequences as defined in this policy and continue to meet its requirements for the duration of their employment with NHS England</li>
            <li>taking appropriate action if individuals fail to comply with this policy</li>
            <li>monitoring employees’ ability to perform assigned security responsibilities (this does not remove responsibility from employees. They need to make sure that they too understand their responsibilities as defined in this policy and continue to meet the requirements)</li>
        </ul>
        <p>Breaching this policy may result in disciplinary procedures (including criminal prosecution) which could lead to dismissal.</p>
        <p>The Data Protection Officer team may regularly assess for compliance with this policy.</p>

        <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
            Last updated: 9 January 2024<br>
        </p>

      </div> <!-- /. nhsuk-grid-column-two-thirds -->
    </form> <!-- /. form -->
  </div> <!-- /. nhsuk-grid-row -->

{% endblock %}
