{% extends 'custom-layouts/enquirer/enquirer-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Cohort Enquirer - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <form action="cis2-login" method="POST">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Cohort Enquirer</h1>
        <p class="nhsuk-body">Cohort Enquirer is a self-service tool that allows you to find out if a patient is part of a cohort.</p>
        
        <h2>What you need</h2>
        <p>To search for a patient's cohort information, you will need both their:<p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>NHS number</li>
            <li>date of birth</li>
        </ul>

        <h2>Before you start</h2>
        <p>To access Cohort Enquirer, you will need to log in using CIS2 (Care Identity Service 2) authentication.</p>
        <p>Contact your line manager if you do not have a CIS2 account.</p>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Start now
        </button>

        <p class="nhsuk-body">By using this tool, you are agreeing to our <a href="#!">terms and conditions</a> and <a href="#!">transparency notice</a>. You are also agreeing to the <a href="#!">terms of release</a> for processing confidential patient information.</p>

    </form> <!-- /. form -->
  </div> <!-- /. nhsuk-grid-row -->

{% endblock %}
