{% extends 'custom-layouts/enquirer/enquirer-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Cohort Enquirer - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <form action="cis2-login" method="POST">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Cohort Enquirer</h1>
        <p class="nhsuk-body">You can use this self-service tool to understand why a patient is part of a cohort. It provides a patient's cohort history including the conditions that make them eligible.</p>
        
        <h2>What patient details you need</h2>
        <p>To search for a patient's cohort information, you will need both the patient's NHS number and date of birth</p>

        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>We can only provide patient information processed on or after September 2023.</p>
          <p>If you need information from before September 2023, create a request through 
            <a href="https://nhsdigitallive.service-now.com/nhs_digital">ServiceNow</a>.</p>
        </div>

        <h2>How to access</h2>
        <p>To access the tool, you must log in through the Care Identity Service (CIS2) and select the correct role.</p>
        <p><a href="https://digital.nhs.uk/services/care-identity-service/smartcard-and-authentication-users/find-your-registration-authority">Contact your Registration Authority</a> if you do not have access to the CIS2 application.</p>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Start now
        </button>

        <p class="nhsuk-body">By using this tool, you are agreeing to our <a href="#!">terms and conditions</a> and <a href="#!">transparency notice</a>. You are also agreeing to the <a href="#!">terms of release</a> for processing confidential patient information.</p>

    </form> <!-- /. form -->
  </div> <!-- /. nhsuk-grid-row -->

{% endblock %}
