{% extends 'custom-layouts/explorer-v3/exp-default-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Chronic respiratory disease - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-full">
      <p class="nhsuk-u-font-size-24 nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-2">Flu vaccinations 2022 to 2023</p>
      <h1 class="nhsuk-heading-xl">Chronic respiratory disease (flu 2022 to 2023)</h1>
    </div> <!-- /.nhsuk-grid-column-full -->

    <div class="nhsuk-grid-column-two-thirds">

      <!-- CaaS digital pathway rule logic -->

      <h2 class="nhsuk-heading-l">CaaS digital pathway rule logic</h2>
      <p>The table below shows the digital cohort rules to determine who should be contacted or reminded to receive their flu vaccination based on specific medical conditions.</p>
      <p>These conditions are detailed in <a href="https://www.gov.uk/government/publications/influenza-the-green-book-chapter-19" title="External website"> influenza Green Book, chapter 19</a>.
      </p>
    </div> <!-- /. nhsuk-grid-column-two-thirds -->

    <div class="nhsuk-grid-column-full">

      <table role="table" class="nhsuk-table-responsive">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Condition description
            </th>
            <th role="columnheader" class="" scope="col">
              Ruleset
            </th>
            <th role="columnheader" class="" scope="col">
              Datasets used
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <!--Row 1-->
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Condition description 
              </span>
              <div class="nhsuk-table-responsive__content">
                <p>Asthma that requires continuous or repeated use of inhaled or systemic steroids.</p>
              </div>
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Ruleset 
              </span>
              <div class="nhsuk-table-responsive__content">
                <p>People who are:</p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>over 6 months of age</li>
                  <li>recorded with asthma diagnosis and not recovered since</li>
                </ul>
                <p>And people who are:</p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>over 6 months of age</li>
                  <li>recorded with asthma inhaled corticosteroids within the last 12 months</li>
                </ul>
              </div>
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Datasets used
              </span>
              <span class="nhsuk-table-responsive__content datasets-column">
                <a href="https://digital.nhs.uk/services/general-practice-extraction-service" title="External website">GPES v4</a> and <a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/directions-and-data-provision-notices/data-provision-notices-dpns/gpes-data-for-pandemic-planning-and-research" title="External website">GDPPR</a>
              </span>
            </td>
          </tr>
          <!--Row 2 -->
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Condition description 
              </span>
              <div class="nhsuk-table-responsive__content">
                <p>Asthma with previous exacerbations requiring hospital admission.</p>
              </div>
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Ruleset 
              </span>
              <div class="nhsuk-table-responsive__content">
                <p>People who are:</p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>over 6 months of age</li>
                  <li>recorded with asthma emergency admissions between 1 September 202 and 31 March 2023</li>
                </ul>
              </div>
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Datasets used
              </span>
              <span class="nhsuk-table-responsive__content datasets-column">
                <a href="https://digital.nhs.uk/services/general-practice-extraction-service" title="External website">GPES v4</a> and <a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/directions-and-data-provision-notices/data-provision-notices-dpns/gpes-data-for-pandemic-planning-and-research" title="External website">GDPPR</a>
              </span>
            </td>
          </tr>
          <!--Row 3 -->
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Condition description 
              </span>
              <div class="nhsuk-table-responsive__content">
                <p>Chronic obstructive pulmonary disease (COPD) including:</p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>chronic bronchitis and emphysema</li>
                  <li>bronchiectasis</li>
                  <li>interstitial lung fibrosis</li>
                  <li>pneumoconiosis</li>
                  <li>bronchopulmonary dysplasia (BPD)</li>
                </ul>
              </div>
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Ruleset 
              </span>
              <div class="nhsuk-table-responsive__content">
                <p>People who are:</p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>over 6 months of age</li>
                  <li>recorded with chronic respiratory disease</li>
                </ul>
              </div>
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Datasets used
              </span>
              <span class="nhsuk-table-responsive__content datasets-column">
                <a href="https://digital.nhs.uk/services/general-practice-extraction-service" title="External website">GPES v4</a> and <a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/directions-and-data-provision-notices/data-provision-notices-dpns/gpes-data-for-pandemic-planning-and-research" title="External website">GDPPR</a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

    </div> <!-- /. nhsuk-grid-column-full -->

    <!--
      Non-digital pathways
    -->

    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-u-padding-bottom-6"></div>
      <h2 class="nhsuk-heading-l">
        Conditions that may not be included in the CaaS digital pathway
      </h2>
      <p>If a person receives care from another healthcare provider, for example a hospital, specialist, or community clinic, their GP record is not automatically updated.</p>
      <p>If a person’s GP record is not up-to-date when creating a cohort, they may not be included in the digital pathway.</p>
      <p>This may result in a person not receiving the invite for their vaccination.</p>
      <p>If you believe you're eligible for a vaccination, but have not received your invite, then <a href="https://www.nhs.uk/conditions/vaccinations/flu-influenza-vaccine/" title="External website">visit the NHS website on the flu vaccine</a> for more information.</p>
    </div>

    <div class="nhsuk-grid-column-full">

      <table role="table" class="nhsuk-table-responsive">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Condition description
            </th>
            <th role="columnheader" class="" scope="col">
              Ruleset
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <!--Row 1-->
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Condition description 
              </span>
              <div class="nhsuk-table-responsive__content">
                <p>Asthma that requires continuous or repeated use of inhaled steroids or systemic steroids.</p>
              </div>
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Condition information 
              </span>
              <div class="nhsuk-table-responsive__content">
                <p>The prescribing data for systemic steroids is not maintained centrally on GP records, so it’s not possible to determine the duration and dose of treatment.</p>
                <p>People identified as being on asthma treatment with systemic steroids, may not be included in the CaaS digital pathway unless a GP practice uses a SNOMED CT administrative code to show eligibility for flu vaccination.</p>
              </div>
            </td>
          </tr>
          <!--Row 2 -->
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Condition description 
              </span>
              <div class="nhsuk-table-responsive__content">
                <p>Asthma with previous exacerbations requiring hospital admission.</p>
              </div>
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Condition information 
              </span>
              <div class="nhsuk-table-responsive__content">
                <p>The data held in GP records about a person’s hospital admission is not always complete.</p>
                <p>People identified based only on hospital admission data, may not be included in the CaaS digital pathway unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination.</p> 
              </div>
            </td>
          </tr>
          <!--Row 3 -->
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Condition description 
              </span>
              <div class="nhsuk-table-responsive__content">
                <p>Chronic obstructive pulmonary disease (COPD) including:</p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>chronic bronchitis and emphysema</li>
                  <li>bronchiectasis</li>
                  <li>interstitial lung fibrosis</li>
                  <li>pneumoconiosis</li>
                  <li>bronchopulmonary dysplasia (BPD)</li>
                </ul>
              </div>
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-table__stack_columns">
              <span class="nhsuk-table-responsive__heading">
                Condition information 
              </span>
              <div class="nhsuk-table-responsive__content">
                <p>All conditions are included in the CaaS digital pathway</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
        Last updated: 10 October 2022
      </p>

    </div> <!-- /. govuk-grid-column-full -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}