{% extends 'custom-layouts/caas-header-sub-nav.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.back();",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <form action="#" method="POST">
      <div class="nhsuk-grid-column-full">
        <p class="nhsuk-u-font-size-24 nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-2">Chronic respiratory disease </p>
        <h1 class="nhsuk-heading-xl">CT code sets</h1>
        <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Clinical condition
                </th>
                <th role="columnheader" class="" scope="col">
                  Code
                </th>
              </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            <!-- #1 Clinical Condition -->

            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    Asthma that requires continuous or repeated use of inhaled steroids or systemic steroids.
                </td>
                <td class="nhsuk-table__cell ">
                    SNOMED SICKLE_COD
                    <div class="nhsuk-u-padding-bottom-3"></div>
                    ICD10, D570, D571, D572, D578
                </td>
            </tr>

            <!-- #2 Clinical Condition -->

            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    Asthma with previous exacerbations requiring hospital admission.
                </td>
                <td class="nhsuk-table__cell ">
                    SNOMED SICKLE_COD
                    <div class="nhsuk-u-padding-bottom-3"></div>
                    ICD10, D570, D571, D572, D578
                </td>
            </tr>

            <!-- #3 Clinical Condition -->

            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    Chronic obstructive pulmonary disease (COPD) including:
                    <div class="nhsuk-u-padding-bottom-3"></div>
                    <ul class="nhsuk-list nhsuk-list--bullet">
                        <li>chronic bronchitis and emphysema</li>
                        <li>bronchiectasis</li>
                        <li>cystic fibrosis</li>
                        <li>interstitial lung fibrosis</li>
                        <li>pneumoconiosis and bronchopulmonary dysplasia (BPD)</li>
                    </ul>
                </td>
                <td class="nhsuk-table__cell ">
                    SNOMED SICKLE_COD
                    <div class="nhsuk-u-padding-bottom-3"></div>
                    ICD10, D570, D571, D572, D578
                </td>
            </tr>

            <!-- #4 Clinical Condition -->

            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    Children who have previously been admitted to hospital for lower respiratory tract disease.
                </td>
                <td class="nhsuk-table__cell ">
                    SNOMED SICKLE_COD
                    <div class="nhsuk-u-padding-bottom-3"></div>
                    ICD10, D570, D571, D572, D578
                </td>
            </tr>
          </tbody>
        </table>
      </div> <!-- /. nhsuk-grid-column-full -->
    </form> <!-- /. form -->
  </div> <!-- /. nhsuk-grid-row -->

{% endblock %}
