{% extends 'custom-layouts/enquirer/header-logged-in.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Check cohort information - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <form action="search-results" method="POST">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Enter patient details</h1>
        <p class="nhsuk-body">Enter the patient's NHS number and date of birth below to find out if they are part of a cohort.</p>

        <!--
            NHS Number
        -->

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="nhsNumber">
              <h2 class="nhsuk-heading-l" style="margin-bottom: 15px;">NHS number</h2>
          </label>
          <div class="nhsuk-hint" id="nhs-number-hint-text">
            This is a 10 digit number. For example, 485 777 3456.
          </div>
          <input class="nhsuk-input nhsuk-input--width-10" id="nhsNumber" name="nhsNumber" type="text" aria-describedby="NHS-Number" inputmode="numeric" value="{{ data['nhsNumber'] }}">
        </div>

      <!--
        Date of Birth
      -->

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="date-hint" role="group">
          <legend class="nhsuk-fieldset__legend nhsuk-label--l">
            <h2 class="nhsuk-fieldset__heading">
              Date of birth
            </h2>
          </legend>
          <div class="nhsuk-hint" id="date-hint">
            For example, 15 11 1984
          </div>
      
          <div class="nhsuk-date-input" id="example">
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="day">
                  Day
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['day'] }}">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="month">
                  Month
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['month'] }}">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="year">
                  Year
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['year'] }}">
              </div>
            </div>
          </div>
        </fieldset>
      
      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Find patient
      </button>

      </form> <!-- /. form -->
    </div> <!-- /. nhsuk-grid-column-two-thirds -->
  </div> <!-- /. nhsuk-grid-row -->

  {% if data['devMode'] === 'true' %}

  {# DEVMODE SCENARIOS #}

  <details class="nhsuk-details dev-mode" role="group">
    <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
      <span class="nhsuk-details__summary-text">
        View scenarios
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <h5>Session timeout warning modal</h5>
      <ul class="nhsuk-list">
        <li><a id="modal_create" href="#" class="">Open session timeout modal</a></li>
      </ul>
      <h5>Search results pages</h5>
      <ul class="nhsuk-list">
        <li><a href="search-results-basic">Basic search results</a></li>
        <li><a href="search-results-empty">No match</a></li>
      </ul>
      <h5>NHS number error scenarios (front-end validation)</h5>
      <ul class="nhsuk-list">
        <li>
          <a href="../../error-scenarios/front-end/cohort-enquirer/nhs-number-10-digits">NHS number either less than or more than 10 numbers</a>
        </li>
        <li><a href="../../error-scenarios/front-end/cohort-enquirer/nhs-number-not-on-record">No NHS number on record</a></li>
        <li><a href="../../error-scenarios/front-end/cohort-enquirer/nhs-number-no-user-input">No user input</a></li>
        <li><a href="../../error-scenarios/front-end/cohort-enquirer/nhs-number-letter-input">User inputs letters</a></li>
      </ul>
      <h5>Date of birth error scenarios (front-end validation)</h5>
      <ul class="nhsuk-list">
        <li><a href="../../error-scenarios/front-end/cohort-enquirer/dob-no-user-input">No user input (all fields)</a></li>
        <li><a href="../../error-scenarios/front-end/cohort-enquirer/dob-no-day-input">No user input (day field)</a></li>
        <li><a href="../../error-scenarios/front-end/cohort-enquirer/dob-no-month-input">No user input (month field)</a></li>
        <li><a href="../../error-scenarios/front-end/cohort-enquirer/dob-no-year-input">No user input (year field)</a></li>
        <li><a href="../../error-scenarios/front-end/cohort-enquirer/dob-no-input-2-fields">No user input in more than 1 field</a></li>
        <li><a href="../../error-scenarios/front-end/cohort-enquirer/dob-year-invalid">Year input is invalid</a></li>
        <li><a href="../../error-scenarios/front-end/cohort-enquirer/dob-future-date">User enters date in the future</a></li>
        <li><a href="../../error-scenarios/front-end/cohort-enquirer/dob-incorrect-day-month">Incorrect day or month e.g. 32 13 1984</a></li>
      </ul>
      <h5>NHS number and DOB error scenarios (front-end validation)</h5>
      <ul class="nhsuk-list">
        <li><a href="../../error-scenarios/front-end/cohort-enquirer/nhs-number-dob-no-user-input">No user input (all fields)</a></li>
      </ul>
      <h5>Back-end errors</h5>
      <ul class="nhsuk-list">
        <li><a href="../../error-scenarios/back-end/enquirer/service-unavailable">Service unavailable</a></li>
        <li><a href="../../error-scenarios/back-end/enquirer/generic-error">Generic error</a></li>
        <li><a href="../../error-scenarios/back-end/enquirer/404">404</a></li>
        <li><a href="../../error-scenarios/back-end/enquirer/unauthorised">Allow list - unauthorised</a></li>
        <li>
          <a href="../../error-scenarios/back-end/enquirer/timeout-15mins">Timeout - 15 minutes inactive</a>
        </li>
        <li>
          <a href="../../error-scenarios/back-end/enquirer/timeout-12hours">Timeout - 12 hours inactive</a>
        </li>
        <li>
          <a href="../../error-scenarios/back-end/enquirer/login-again">Log in again</a>
        </li>
        <li>
          <a href="../../error-scenarios/back-end/enquirer/logged-out">Logged out</a>
        </li>
      </ul>
    </div>
  </details>

  {% endif %}

  <div class="modal-overlay" id="modal_window" aria-hidden="true" role="dialog" aria-labelledby="modal_title">
    <div class="modal-content" id="modal_holder" role="document">
  
        <div id="modal-form">
  
          <h2 class="nhsuk-modal__heading">Your session is due to expire in 5 minutes</h2>
  
          <p class="nhsuk-modal__description">You have not done anything on the service for a while.</p>
          <p class="nhsuk-modal__description nhsuk-u-margin-bottom-5">Your session will end in 5 minutes if you do not do anything on the page. You'll need to start your application again if that happens.</p>
  
          <button class="nhsuk-button" type="submit">Resume registration</button>
  
        </div>
  
        <div id="modal-thanks" style="display:none;">
  
          <h2 class="nhsuk-heading-l">Thank you for your feedback</h2>
          <p class="nhsuk-card__description">Your feedback was successfully sent.</p>
  
        </div>

      <a id="modal_close" href="#">Skip</a>
  
    </div> <!-- end .modal-content -->
  </div> <!-- end .modal-overlay -->

{% endblock %}
