<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'custom-layouts/caas-header.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %} 

Cohorting as a Service

{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %} {% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %} {% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">

    <form action="preview" method="post">

        <div class="nhsuk-grid-column-two-thirds">

            <h1>Edit MMR</h1>
    
            <p>Review the cohort and create new rules.</p>
    
            <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>You can only edit the details you have access to change.</p>
            </div>
    
            <h2>Cohort information</h2>
    
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="cohort-name">
                Cohort name
                </label>
                <input class="nhsuk-input" id="cohort-name" name="cohort-name" type="text" value="{{ data['cohort-name'] }}">
            </div>
    
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="cohort-author">
                Author
                </label>
                <input class="nhsuk-input" id="cohort-author" name="cohort-author" type="text" value="{{ data['cohort-author'] }}">
            </div>
    
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="cohort-description">
                Description
                </label>
                <textarea class="nhsuk-textarea" id="cohort-description" name="cohort-description" rows="5" aria-describedby="cohort-description-hint">{{ data['cohort-description'] }}</textarea>
            </div>
    
            <div class="nhsuk-u-padding-bottom-4"></div>
    
            <div class="inline-text-container">
                <p class="nhsuk-u-font-weight-bold">Date created</p>
                <p class="inline-text-block-2"><script> document.write(new Date().toLocaleDateString()); </script></p>
            </div>
    
            <div class="inline-text-container">
                <p class="nhsuk-u-font-weight-bold">Version</p>
                <p class="inline-text-block-2">0.2</p>
            </div>
    
            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
    
            <h2>Age rules</h2>
    
            <table role="table" class="nhsuk-table-responsive">
    
                <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                    Label
                    </th>
                    <th role="columnheader" class="" scope="col">
                    Rule
                    </th>
                    <th role="columnheader" class="" scope="col">
                    Action
                    </th>
                </tr>
                </thead>
    
                <tbody class="nhsuk-table__body">
    
                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Label </span><p>{{ data['rule-label-1'] }}</p>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Rule </span>Exclude individuals who are {{ data['not-include-age'] }} years old on or after {{ data['not-include-day'] }} {{ data['not-include-month'] }} {{ data['not-include-year'] }}
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a href="edit-cohort">Delete</a>
                        </td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Label </span><p>{{ data['rule-label-2'] }}</p>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Rule </span>Include individuals who are {{ data['age-by-age-1'] }} years old by {{ data['age-by-day-1'] }} {{ data['age-by-month-1'] }} {{ data['age-by-year-1'] }}
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a href="edit-cohort">Delete</a>
                        </td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Label </span><p>{{ data['rule-label-3'] }}</p>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Rule </span>Include individuals who are {{ data['age-over-under-2'] }} years old and {{ data['age-over-under-select-2'] }} by {{ data['age-over-under-day-2'] }} {{ data['age-over-under-month-2'] }} {{ data['age-over-under-year-2'] }}
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a href="edit-cohort-sce-2">Delete</a>
                        </td>
                    </tr>
    
                </tbody>
            </table>
    
            <div class="nhsuk-u-padding-bottom-5"></div>
    
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="label">
                Label
                </label>
                <input class="nhsuk-input" id="label" name="rule-label-3" type="text">
            </div>
    
            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="age-rule-hint">
                    <div class="nhsuk-radios nhsuk-radios--conditional">
    
                        <!-- Include Radio -->
            
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="age-rule-1" name="age-rule" type="radio" value="include" aria-controls="conditional-age-rule-1" aria-expanded="false">
                            <label class="nhsuk-label nhsuk-radios__label" for="age-rule-1">Include</label>
                        </div> <!-- /. nhsuk-radios -->
            
                        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-age-rule-1">
                
                            <div class="nhsuk-form-group">
        
                                <div class="nhsuk-u-padding-bottom-2"></div>
        
                                <p class="nhsuk-u-font-weight-bold">Include individuals aged</p>
        
                                <label class="nhsuk-label" for="include-age-3">Age</label>
                                <div class="nhsuk-input__wrapper">
                                    <input class="nhsuk-input nhsuk-input--width-2" id="include-age-3" name="include-age-3" type="number">
                                    <div class="nhsuk-input__suffix" aria-hidden="true">years old</div>
                                </div>
        
                                <div class="nhsuk-u-padding-bottom-4"></div>
        
                                <p class="nhsuk-u-font-weight-bold">on or after</p>
        
                                <div class="nhsuk-date-input" id="example">
        
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label" for="include-day-3">Day</label>
                                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="include-day-3" name="include-day-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>
                                    </div>
                                    
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label" for="include-month-3">Month</label>
                                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="include-month-3" name="include-month-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>
                                    </div>
        
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label" for="include-year-3">Year</label>
                                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="include-year-3" name="include-year-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>
                                    </div>
        
                                </div> <!-- /. nhsuk-date-input -->

                                <div class="nhsuk-u-padding-bottom-4"></div>

                                <p><a href="#!">Add rule</a></p>

                            </div> <!-- /. nhsuk-form-group -->
                        </div> <!-- /. nhsuk-radios -->
    
                        <!-- Exclude Radio -->
            
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="age-rule-2" name="age-rule" type="radio" value="phone" aria-controls="conditional-age-rule-2" aria-expanded="false">
                            <label class="nhsuk-label nhsuk-radios__label" for="age-rule-2">Do not include</label>
                        </div> <!-- /. nhsuk-radios -->
            
                        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-age-rule-2">
            
                        <div class="nhsuk-form-group">
    
                            <div class="nhsuk-u-padding-bottom-2"></div>
    
                            <p class="nhsuk-u-font-weight-bold">Do not include individuals aged</p>
    
                            <label class="nhsuk-label" for="not-include-age">Age</label>
                            <div class="nhsuk-input__wrapper">
                                <input class="nhsuk-input nhsuk-input--width-2" id="not-include-age-3" name="not-include-age-3" type="text">
                                <div class="nhsuk-input__suffix" aria-hidden="true">years old</div>
                            </div>
    
                            <div class="nhsuk-u-padding-bottom-4"></div>
    
                            <p class="nhsuk-u-font-weight-bold">on or after</p>
    
                            <div class="nhsuk-date-input" id="not-include-date">
    
                                <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                        <label class="nhsuk-label nhsuk-date-input__label" for="not-include-day-3">Day</label>
                                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="not-include-day-3" name="not-include-day-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
                                
                                <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                        <label class="nhsuk-label nhsuk-date-input__label" for="not-include-month-3">Month</label>
                                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="not-include-month-3" name="not-include-month-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
    
                                <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                        <label class="nhsuk-label nhsuk-date-input__label" for="not-include-year-3">Year</label>
                                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="not-include-year-3" name="not-include-year-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                    </div>
                                </div>
    
                            </div> <!-- /. nhsuk-date-input -->
    
                            <div class="nhsuk-u-padding-bottom-4"></div>
    
                            <p><a href="#!">Add rule</a></p>
    
                        </div> <!-- /. nhsuk-form-group -->
                        </div> <!-- /. nhsuk-radios -->
    
                        <!-- Age when cohort is run radio -->
                
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="age-rule-3" name="age-rule" type="radio" value="text" aria-controls="conditional-age-rule-3" aria-expanded="false">
                            <label class="nhsuk-label nhsuk-radios__label" for="age-rule-3">Age when cohort is run</label>
                        </div> <!-- /. nhsuk-radios -->
        
                        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-age-rule-3">
                
                            <div class="nhsuk-form-group">

                                <label class="nhsuk-label" for="age-when-run-3">Age</label>
                                <div class="nhsuk-input__wrapper">
                                    <input class="nhsuk-input nhsuk-input--width-2" id="age-when-run-3" name="age-when-run-3" type="number">
                                    <div class="nhsuk-input__suffix" aria-hidden="true">years old</div>
                                </div>

                                <div class="nhsuk-u-padding-bottom-4"></div>

                                <p><a href="#!">Add rule</a></p>

                            </div> <!-- /. nhsuk-form-group -->
                        </div> <!-- /. nhsuk-radios -->

                        <!-- Age by -->

                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="age-rule-4" name="age-rule" type="radio" value="text" aria-controls="conditional-age-rule-4" aria-expanded="false">
                            <label class="nhsuk-label nhsuk-radios__label" for="age-rule-4">Age by</label>
                        </div>
            
                        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-age-rule-4">
                    
                            <div class="nhsuk-form-group">

                                <label class="nhsuk-label" for="age-by-age-3">Age</label>
                                <div class="nhsuk-input__wrapper">
                                    <input class="nhsuk-input nhsuk-input--width-2" id="age-by-age-3" name="age-by-age-3" type="text">
                                    <div class="nhsuk-input__suffix" aria-hidden="true">years old</div>
                                </div>

                                <div class="nhsuk-u-padding-bottom-4"></div>

                                <p class="nhsuk-u-font-weight-bold">by</p>

                                <div class="nhsuk-date-input" id="age-date-range">

                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label" for="age-by-day-3">Day</label>
                                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="age-by-day-3" name="age-by-day-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>
                                    </div>
                                    
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label" for="age-by-month-3">Month</label>
                                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="age-by-month-3" name="age-by-month-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>
                                    </div>
            
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label" for="age-by-year-3">Year</label>
                                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="age-by-year-3" name="age-by-year-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>
                                    </div>
            
                                </div> <!-- /. nhsuk-date-input -->

                                <div class="nhsuk-u-padding-bottom-4"></div>

                                <p><a href="#!">Add rule</a></p>

                            </div> <!-- /. nhsuk-form-group -->
                        </div> <!-- /. nhsuk-radios -->

                        <!-- Age over and under -->

                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="age-rule-5" name="age-rule" type="radio" value="text" aria-controls="conditional-age-rule-5" aria-expanded="false">
                            <label class="nhsuk-label nhsuk-radios__label" for="age-rule-5">Age over and under</label>
                        </div>
            
                        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-age-rule-5">
            
                            <div class="nhsuk-form-group">

                                <label class="nhsuk-label" for="age-over-under">Age</label>
                                <div class="nhsuk-input__wrapper">
                                    <input class="nhsuk-input nhsuk-input--width-2" id="age-over-under-3" name="age-over-under-3" type="text">
                                    <div class="nhsuk-input__suffix" aria-hidden="true">years old</div>
                                </div>

                                <div class="nhsuk-u-padding-bottom-4"></div>

                                <p class="nhsuk-u-font-weight-bold">and</p>

                                <div class="nhsuk-form-group">
                                    <select class="nhsuk-select" id="age-over-under" name="age-over-under-select-3">
                                    <option value="over" selected>Over</option>
                                    <option value="under">Under</option>
                                    </select>
                                </div>

                                <p class="nhsuk-u-font-weight-bold">by</p>

                                <div class="nhsuk-date-input" id="age-over-under-date-3">

                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label" for="age-over-under-day-3">Day</label>
                                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="age-over-under-day-3" name="age-over-under-day-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>
                                    </div>
                                    
                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label" for="age-over-under-month-3">Month</label>
                                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="age-over-under-month-3" name="age-over-under-month-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>
                                    </div>

                                    <div class="nhsuk-date-input__item">
                                        <div class="nhsuk-form-group">
                                            <label class="nhsuk-label nhsuk-date-input__label" for="age-over-under-year-3">Year</label>
                                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="age-over-under-year-3" name="age-over-under-year-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                        </div>
                                    </div>

                                </div> <!-- /. nhsuk-date-input -->

                                <div class="nhsuk-u-padding-bottom-4"></div>

                                <p><a href="#!">Add rule</a></p>

                            </div> <!-- /. nhsuk-form-group -->
                        </div> <!-- /. nhsuk-radios--conditional -->

                    </div> <!-- /. wrapper nhsuk-radios--conditional -->
                </fieldset> <!-- /. nhsuk-fieldset -->
            </div> <!-- /. nhsuk-form-group -->

            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
        
            <h2>Run schedule</h2>
    
            <p>Run from</p>
    
            <div class="nhsuk-date-input" id="run-schedule">
    
                <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="run-schedule-day">Day</label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="run-schedule-day" name="run-schedule-day" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                </div>
                
                <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="run-schedule-month">Month</label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="run-schedule-month" name="run-schedule-month" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                </div>
    
                <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="run-schedule-year">Year</label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="run-schedule-year" name="run-schedule-year" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                </div>
    
            </div> <!-- /. nhsuk-date-input -->
    
            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
        
            <h2>Data sources</h2>
    
            <dl class="nhsuk-summary-list">
    
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Personal Demographics Service (PDS)
                    </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Description
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        A national database of NHS patient details
                    </dd>
                </div>
    
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Refresh cycle
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Daily
                    </dd>
                </div>
    
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Data lag
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Up to 24 hours
                    </dd>
                </div>
            
            </dl>
    
            <div class="nhsuk-u-padding-bottom-5"></div>
        
            <h2>Clinical safety risk assessment</h2>
    
            <dl class="nhsuk-summary-list">
    
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Severity
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Major
                    </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Likelihood
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Very low
                    </dd>
                </div>
    
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Risk score
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        <strong class="nhsuk-tag nhsuk-tag--yellow">
                        2
                        </strong>
                    </dd>
                </div>
    
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Justification
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Although it’s possible to miss patients from these groups due to upstream data issues. It is highly unlikely to affect any individuals adversely.
                    </dd>
                </div>
            
            </dl>
    
            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Preview cohort
            </button>
    
            <p><a href="#!">Save and return later</a></p>
    
        </div> <!-- /. nhsuk-grid-column-two-thirds -->
    </form> <!-- /. nhsuk-form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}