{% extends 'custom-layouts/caas-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "cm-add-demographic-rules",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <form action="#" method="POST">
      <div class="nhsuk-grid-column-two-thirds">
        
          <h1 class="nhsuk-heading-xl">Add clinically assured condition groups</h1>

          <p>Add the clinically assured groups needed to build your cohort by using the search bar below.</p>
          <p>Visit the <a href="#">condition group library</a> to review the condition group definitions.</p>
          <p>If the condition group you need isn’t listed, <a href="#">request a new condition group</a>.</p>

          <div class="nhsuk-hub__search">
          
            <div class="nhsuk-header__search-wrap nhsuk-hub__search-wrap" id="wrap-search">
              <form class="nhsuk-header__search-form nhsuk-hub__search-form" id="search" action="/search" method="get" role="search">
                <label class="nhsuk-u-visually-hidden" for="search-field">
                  Search for a condition group by name or code
                </label>
                <!-- Search input field -->
                <input autocomplete="off" class="autocomplete__input autocomplete__input--default nhsuk-hub__search-input" id="search-field" name="q" placeholder="Search for a condition group by name or code" type="text">
                <!-- Search Button -->
                  <button class="nhsuk-search__submit nhsuk-hub__search-submit" type="submit">
                  <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                    <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                  </svg>
                  <span class="nhsuk-u-visually-hidden">Search for a condition group by name or code</span>
                </button>
              </form>
            </div> <!-- /. nhsuk-header__search-wrap -->
          </div> <!-- /. nhsuk-hub__search -->

          <p><strong>0</strong> clinically assured condition groups added.</p>

          <button class="nhsuk-button" type="submit">
            Continue
          </button>
          <p>
            <a href="#">Save and exit</a>
          </p>

          </div> <!-- /. nhsuk-grid-column-two-thirds -->
        </form> <!-- /. form -->
      </div> <!-- /. nhsuk-grid-row -->

{% endblock %}
