{% extends 'custom-layouts/enquirer/header-logged-in.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Cohort Enquirer - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <form action="landing" method="POST">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">Cohort enquirer</h1>
        <h2 class="nhsuk-heading-l">About cohort enquirer</h2>
        <p class="nhsuk-body">Cohort Enquirer is a self-service tool that allows you to search the <a href="#">NHS Data Processing Services (DPS)</a> to determine if a patient is part of a cohort.</p>
        <p>Cohort Enquirer will:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>allow you to search for a patient by their NHS number and date of birth</li>
            <li>show if a patient has been included or excluded in a cohort</li>
            <li>help you to understand why a patient is part of a cohort</li>
            <li>provide you with the correct information to answer cohort queries effectively</li>
        </ul>
        <h2>About using this tool</h2>
        <p>By using this Service, you are agreeing to our <a href="#">terms and conditions</a> and <a href="#">transparency notice</a>. You are also agreeing to the <a href="#">terms of release</a> for processing confidential patient information.</p>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Continue
        </button>

    </form> <!-- /. form -->
  </div> <!-- /. nhsuk-grid-row -->

{% endblock %}
