<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  CaaS prototype
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}

<div id="nhsuk-cookie-banner">
    <div style="padding: 0 !important;">
        <div class="nhsuk-cookie-banner" id="cookiebanner" aria-label="Cookie banner" role="banner">
            <div class="page-section" style="padding: 0 !important;">
                <div class="nhsuk-width-container">
                    <h4 class="nhsuk-heading-s cookie-heading">Cookies on Find out why a patient is in a cohort</h4>
                    <p class="nhsuk-body cookie-body">We've put some small files called cookies on your device to make Find out why a patient is in a cohort work.</p>
                    <p class="nhsuk-body cookie-body">We would also like to use analytics cookies to improve our service.</p>
                    <p>Let us know if this is OK. We'll use a cookie to save your choice. You can <a href="../../cohort-enquirer/legal-pages/cookies">read more about our cookies</a> before you choose.</p>

                    <a href="#" tabindex="1">
                        <button class="nhsuk-button full-width" id="nhsuk-cookie-banner__link_accept">
                            I'm ok with analytics cookies
                        </button>
                    </a>

                    <a href="" tabindex="2">
                        <button class="nhsuk-button full-width" id="nhsuk-cookie-banner__link">
                            Do not use analytics cookies
                        </button>
                    </a>

                </div>
            </div>
        </div>

        <div class="nhsuk-success-banner" id="nhsuk-cookie-confirmation-banner" style="display:none;" role="banner">
            <div class="page-section" style="padding: 0px !important;">
                <div class="nhsuk-width-container">
                    <p class="nhsuk-body accepted-cookies">You can change your cookie settings at any time using our <a href="../../cohort-enquirer/legal-pages/cookies" class="nhsuk-link cookies-success-link">cookies page</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="nhsuk-header" role="banner">


    <div class="nhsuk-width-container nhsuk-header__container">
        <div class="nhsuk-header__logo">
            <a class="nhsuk-header__link nhsuk-header__link--service nhsuk-header__link--service-short-name"
                href="../../index" aria-label="NHS.UK prototype kit home">
                <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation"
                    focusable="false" viewBox="0 0 40 16">
                    <path fill="#fff" d="M0 0h40v16H0z"></path>
                    <path fill="#005eb8"
                        d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
                    </path>
                    <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
                </svg>
                <span class="nhsuk-header__service-name">
                    Find out why a patient is in a cohort
                </span>
            </a>
        </div>
    </div>
</header>

<script>
    function setCookieBanner() {

        var cookieBannerSuccess = document.querySelector('.nhsuk-success-banner');

        if (document.cookie.indexOf("cookiePreference=") >= 1) {
            document.getElementById('nhsuk-cookie-banner').style.display = "none";
        } else {
            document.getElementById('nhsuk-cookie-banner').style.display = "block";
            document.getElementById("nhsuk-cookie-banner__link_accept").addEventListener("click", function () {

                document.cookie = "cookiePreference = 1;";
                document.querySelector('.nhsuk-cookie-banner').style.display = "none";
                cookieBannerSuccess.style.display = "block";
            });
        }
    }

    function clickCookieSuccess() {
        var cookieBannerSuccess = document.querySelector('.nhsuk-success-banner');

        if (cookieBannerSuccess) {
            cookieBannerSuccess.addEventListener()
        }
    }

    function deleteCookie() {

        document.cookie = "cookiePreference= ; expires = Thu, 01 Jan 1970 00:00:00 GMT"

    }

    setCookieBanner()
</script>



{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    "links": [
    {
      "URL": "/cohort-enquirer/legal-pages/accessibility-statement",
      "label": "Accessibility statement"
    },
    {
      "URL": "/cohort-enquirer/legal-pages/aup",
      "label": "Acceptable use policy"
    },
    {
      "URL": "/cohort-enquirer/legal-pages/cookies",
      "label": "Cookies"
    },
    {
        "URL": "/cohort-enquirer/help/help-landing",
        "label": "Help"
    },
    {
      "URL": "/examples/passing-data/clear-data",
      "label": "Clear data"
    },
    {
      "URL": "?devMode=true",
      "label": "View scenarios and validation"
    }
    ]
  })}}
{% endblock %}

{% block bodyEnd %}
    
{% if data['devMode'] === 'true' %}
    {% include "includes/devmode.html" %}
{% endif %}

  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
    
