{% extends 'custom-layouts/enquirer/enquirer-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Cohort Enquirer - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <form action="" method="POST">
      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 class="nhsuk-error-summary__title" id="error-summary-title">There is a problem</h2>
            <div class="nhsuk-error-summary__body">
              <ul class="nhsuk-list nhsuk-error-summary__list" role="list">
                <li>
                  <a href="#aup-checkbox">You must confirm you have read and agree to the policy</a>
                </li>
              </ul>
            </div>
        </div>

        <h1 class="nhsuk-heading-xl">Cohort Enquirer</h1>
        <p class="nhsuk-body">This tool provides an understanding into why a patient has been included in a cohort. It gives details about the conditions that made them eligible and the data sets and code lists used.</p>
        
        <h2>Which patient details you need</h2>
        <p>To search for a patient's cohort information, you will need both the patient's NHS number and date of birth</p>

        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>We can only provide patient information processed on or after September 2023.</p>
          <p>If you need information from before September 2023, create a request through 
            <a href="https://nhsdigitallive.service-now.com/nhs_digital">ServiceNow</a>.</p>
        </div>

        <h2>How to access</h2>
        <p>To access the tool, you must log in through the Care Identity Service (CIS2) and select the correct role.</p>

        <div class="nhsuk-form-group nhsuk-form-group--error">
            <fieldset class="nhsuk-fieldset" aria-describedby="aup-error">
                <span class="nhsuk-error-message" id="aup-error">
                  <span class="nhsuk-u-visually-hidden">Error:</span> You must confirm you have read and agree to the policy
                </span>
          
                <div class="nhsuk-checkboxes">
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="aup-checkbox" name="contact" type="checkbox">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3"> I confirm that I have read and agree to the <a href="#!">Acceptable Use Policy</a>.
                    </label>
                  </div>
                </div>
            </fieldset>
        </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Start now
        </button>

      </div> <!-- /. nhsuk-grid-column-two-thirds -->
    </form> <!-- /. form -->
  </div> <!-- /. nhsuk-grid-row -->


{% endblock %}