{% extends 'custom-layouts/caas-header-logged-in.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "cohort-locked",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  
<div class="nhsuk-grid-row">
  <form action="check-review" method="POST">
    <div class="nhsuk-grid-column-two-thirds">
        
      <p class="nhsuk-caption-l">Vaccinations Influenza Spring 2023</p>
      <h1 class="nhsuk-heading-xl">Approve or reject cohort</h1>
      <p class="nhsuk-body">Select the appropriate outcome for this cohort</p>


      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="outcome-1" aria-describedby="outcome-1"  name="outcome" type="radio" value="Approve" {{ checked("outcome", "Approve") }} >
              <label class="nhsuk-label nhsuk-radios__label" for="outcome-1">
                Approve
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" aria-describedby="outcome-2" id="outcome-2" name="outcome" type="radio" value="Reject"{{ checked("outcome", "Reject") }}>
              <label class="nhsuk-label nhsuk-radios__label" for="outcome-2">
                Reject
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>

      <p class="nhsuk-body">Sign off and approval (optional)</p>
      <p class="nhsuk-hint">Select any that have already been received.</p>


      <div class="nhsuk-form-group">
    
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          
          <div class="nhsuk-checkboxes">
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="submission-1" name="submission-1" type="checkbox" value="Clinical Safety documentation has been signed off" {{ checked("submission-1", "Solution assurance has been completed") }} onclick="deSelectCheckbox5();" >
              <label class="nhsuk-label nhsuk-checkboxes__label" for="submission-1">
                Solution assurance has been completed
              </label>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="submission-2" name="submission-2" type="checkbox" value="Clinical Safety has been approved" {{ checked("submission-2", "CaaS governance is signed off") }} onclick="deSelectCheckbox5();">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="submission-1">
                CaaS governance is signed off
              </label>
            </div>
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="submission-3" name="submission-3" type="checkbox" value="Information Governance documentation has been approved" {{ checked("submission-3", "Approval from the Commissioning body") }} onclick="deSelectCheckbox5();">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="submission-3">
                Approval from the Commissioning body
              </label>
            </div>
    
            <!-- <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="submission-5" name="submission-5" type="checkbox" value="None" {{ checked("submission-5", "None") }}" onclick="deSelectCheckbox1to4();">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="submission-5">
                None
              </label>
            </div> -->
    
          </div>
        </fieldset>
    
      </div>

      <!-- Add comment -->

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="add-comment">
          Provide any other information relevant to your cohort review. This may be information about your decision to approve or reject this cohort (optional)
        </label>
        <textarea class="nhsuk-textarea" id="add-comment" name="add-comment" rows="5" aria-describedby="add-comment"></textarea>
      </div>
      
      <button class="nhsuk-button" type="submit">
        Save and continue
      </button>
      <p><a href="cohort-locked">Cancel</a></p>

    </div> <!-- /. nhsuk-grid-column-two-thirds -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}


