{% extends 'custom-layouts/caas-header-sub-nav.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Influenza vaccinations 2022 to 2023: Cohort identification methodology - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <form action="#" method="POST">
      <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl">Influenza vaccinations 2022 to 2023: Cohort identification methodology</h1>

        <nav class="nhsuk-contents-list" role="navigation" aria-label="Content list of this condition group">
          <h2 class="nhsuk-u-visually-hidden">Contents</h2>
          <ol class="nhsuk-contents-list__list">
            <li class="nhsuk-contents-list__item" aria-current="page">
              <span class="nhsuk-contents-list__current">Summary</span>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#clinical-at-risk-groups">
                  Clinical at-risk groups
              </a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#demographics">Demographics</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#code-list-rule-set">Code list and rule set</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#cohort-details">Cohort details</a>
            </li>
            <li class="nhsuk-contents-list__item">
              <a class="nhsuk-contents-list__link" href="#more-information">More information</a>
            </li>
          </ol>
        </nav>

      </div> <!-- /. nhsuk-grid-column-full -->

      <div class="nhsuk-grid-column-two-thirds">

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <!-- Summary -->

        <h2 class="nhsuk-heading-l" id="summary">Summary</h2>

        <p>NHS England Vaccination Deployment Programme’s (VDP) Tech and Data Workstream commissioned the NHS Digital Vaccination Programme to flow <a href="https://digital.nhs.uk/services/national-data-opt-out/understanding-the-national-data-opt-out/confidential-patient-information">patient identifiable data</a> to the National Immunisation Management Service (NIMS). This will be used for influenza vaccine monitoring and call and recall within the 2022 to 2023 flu season that runs from 1 September 2022 to 31 March 2023.</p>

        <p>NHS Digital Vaccination programme commissioned <a href="https://digital.nhs.uk/services/cohorting-as-a-service-caas">NHS Digital’s Cohorting as a Service (CaaS)</a> to provide patient identifiable cohorts to the NHS Digital Vaccination Programme to facilitate the identification of citizens who are eligible for flu vaccinations for the season's autumn and winter 2022 to 2023. This includes the defined clinical at-risk group criteria detailed in <a href="https://www.gov.uk/government/publications/influenza-the-green-book-chapter-19">Chapter 19 of the Green Book</a> ​​​​​​to enable the NHS Digital Vaccination Programme to flow that data to NIMS.</p>

        <p>A patient cohort has been created and made available in Data Processing Services (DPS) within NHS Digital where the VDP within NHSD will transfer it to the National Immunisation Management System (NIMS). The data will be available to the NHS VDP to flow to the NIMS and Foundry for use in National Call/Recall and monitoring for the 2022 to 2023 flu vaccination season.</p>

        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>The information provided outlines CaaS’s approach to delivering this cohort using established methodologies. It highlights any differences from the clinical criteria in chapter 19 of the Green Book and associated assumptions.</p>
        </div>
        
        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <!-- Clinical at-risk groups -->

        <h2 class="nhsuk-heading-l" id="clinical-at-risk-groups">Clinical at-risk groups</h2>
        <p>You can find the Green Book rules and code list for each condition in the links below.</p>
        <p>The list is not exhaustive, and decisions should be based on clinical judgement.</p>
        <p>The clinical at-risk groups within the Green Book are:</p>
        <ul class="nhsuk-list">
            <li>
              <a href="condition-groups/chronic-heart-disease">
                Chronic heart disease and vascular disease
              </a>
            </li>
            <li>
              <a href="condition-groups/chronic-kidney-disease">
                Chronic kidney disease
              </a>
            </li>
            <li>
              <a href="condition-groups/chronic-liver-disease">
                Chronic liver disease
              </a>
            </li>
            <li>
              <a href="condition-groups/chronic-neurological-disease">
                Chronic neurological disease
              </a>
            </li>
            <li>
              <a href="condition-groups/chronic-respiratory-disease">
                Chronic respiratory disease
              </a>
            </li>
            <li>
              <a href="condition-groups/clinically-coded-eligibility">
                Clinically coded eligibility
              </a>
            </li>
            <li>
              <a href="condition-groups/diabetes-adrenal-insufficiency">
                Diabetes and adrenal insufficiency
              </a>
            </li>
            <li>
              <a href="condition-groups/immunosuppression">
                Immunosuppression including asplenia or dysfunction of the spleen
              </a>
            </li>
            <li>
              <a href="condition-groups/morbid-obesity-class-3">
                Morbid obesity (class 3 obesity)
              </a>
            </li>
            <li>
              <a href="condition-groups/pregnancy">
                Pregnancy
              </a>
            </li>
        </ul>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <!-- Demogprahics -->

        <h2 class="nhsuk-heading-l" id="demographics">Demographics</h2>
        <p>All people aged 6 months or older that are in the clinical risk groups shown in table 19.4, chapter 19 of the Green Book.</p>
        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <!-- Code list and rule set -->

        <h2 class="nhsuk-heading-l" id="code-list-rule-set">Code list and rule set</h2>
        <p>
          <a href="#">
            Influenza vaccine winter 2022 to 2023 SNOMED code clusters (Excel)
          </a>
          Document type: .XLS<br>
          File size: 370KB
        </p>
        <p>A full list of the codes used for the influenza vaccination cohort. It details the data sets, coding systems, code values and code descriptions.</p>
        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <!-- Cohort details -->

        <h2 class="nhsuk-heading-l" id="cohort-details">Cohort details</h2>
        <h3 class="nhsuk-heading-m">Purpose</h3>
        <p>Direct care</p>
        <h3 class="nhsuk-heading-m">Commissioner</h3>
        <p>NHS-E vaccination programme’s Tech and Data workstream, delivered by NHS Digital.</p>
        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <!-- More Information -->
        
        <h2 class="nhsuk-heading-l" id="more-information">More information</h2>
        <p>Data sets and coding classifications used for this cohort.</p>
        <ul class="nhsuk-list">
            <li>
              <a href="https://digital.nhs.uk/coronavirus/gpes-data-for-pandemic-planning-and-research" title="External website">GPES (General Practice Extraction service) v4: COVID-19 at risk patients data collection version 4</a>
            </li>
            <li>
              <a href="https://digital.nhs.uk/coronavirus/gpes-data-for-pandemic-planning-and-research" title="External website">GPES Data for Planning and Research (GDPPR)</a>
            </li>
            <li>
              <a href="https://digital.nhs.uk/services/terminology-and-classifications/snomed-ct" title="External website">SNOMED CT: Systematised Nomenclature of Medicine</a>
            </li>
        </ul>
        
      </div> <!-- /. nhsuk-grid-column-two-thirds -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}
