.autocomplete {
    position: relative;
    display: inline-block;
  }
  
.autocomplete-items {
    position: relative;
    border: 1px solid $nhsuk-border-color;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
}
  
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: $color_nhsuk-white;
    border-top: 0px !important; 
    border: 1px solid  $nhsuk-border-color; 
}
  
/*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #005eb8;
    color: #ffffff;
}
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: #005eb8 !important;
    color: #ffffff !important;
  }