// Cookie Banner

.nhsuk-cookie-banner {
    background-color: $color_nhsuk-grey-5;
    padding: 0px !important;
  }
  
  .cookie-heading {
    padding: 16px 0px 0px 0px;
    margin: 0px !important;
  }
  
  .cookie-body {
    margin: 16px 0px 16px 0px;
  }
  
  #nhsuk-cookie-banner__link_accept {
    margin-right: 16px !important;
  }
  
  #nhsuk-cookie-banner__link_accept,
  #nhsuk-cookie-banner__link {
    margin: 0px 0px 24px 0px;
  }
  
  .accepted-cookies {
    background-color: $color_nhsuk-grey-5;
    padding: 24px 0px 0px 0px !important;
  }