.dev-ready_background {
    background-color: $color_nhsuk-blue;
    padding: 24px;
    margin-bottom: 50px;
    height: auto;
}

.dev-ready_prototype_link {
    vertical-align: middle;
    margin: 0 auto;
    color: $color_nhsuk-white !important;
}

.dev-ready_prototype_caption {
    color: $color_nhsuk-white;
    margin-bottom: 20px;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-weight: bold;
}

.center {
    margin: 0 auto;
    display: block;
    text-align: center;
}