.email-container {
    border: 1px solid $nhsuk-border-color;
    padding: 20px;
}

.nhs-header-email {
    margin-bottom: 30px;
    .nhs-header-email-logo {
        padding-left: 20px;
    }
}

.seconary-color-text {
    color: #4C6272;
}