
// Lagout link used in the custom header caas-header-logged-in.html

.logout-link {
    float: right;
    color: white !important;
    margin-top: 0px !important;
}

.username {
    float: right;
    color: white !important;
    margin-top: 5px !important;
}

.logout-link:focus{
    color: black !important;
}