
// CSS lifted from the tactical pages to get stacked table columns in mobile view

@media screen and (max-width: 64em) {
    .rule-logic-table-desktop {
        display: none;
    }
    
    .non-digital-pathways-table-desktop {
      display: none;
    }

    .chronic-respiratory-code-set-table-desktop {
      display: none;
    }
}

.nhsd-m-table {
    overflow-x: auto;
  }

  @media screen and (min-width: 64.001em) {
    .nhsd-m-table__mobile-list {
      display: none;
    }
  }

  .m-table-header {
    text-align: left;
    font-weight: bold;
    margin: 16px 0px 16px 0px;
  }

  .m-table-content-wrapper {
    display: block !important;
  
  }
  
  .m-table-content {
    text-align: left;
    margin-left: 0px;
  }
  
  .nhsd-m-table--no-heading-wrap thead {
    white-space: nowrap;
  }
  
  .nhsd-m-table table,
  .nhsd-m-table tbody {
    width: 100%;
    border-collapse: collapse;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  
  .nhsd-m-table tbody tr:first-child td,
  .nhsd-m-table tbody tr:first-child th {
    border-width: 2px;
  }
  
  .nhsd-m-table tbody tr td,
  .nhsd-m-table tbody tr th {
    border-top: 1px solid var(--mid-grey-20-tint, #d5dade);
    vertical-align: top;
  }
  
  .nhsd-m-table thead {
    color: var(--black, #231f20);
    font-weight: 600;
  }
  
  .nhsd-m-table thead tr:first-child td,
  .nhsd-m-table thead tr:first-child th,
  .nhsd-o-dropdown__dropdown ul li:first-child {
    border: 0;
  }
  
  .nhsd-m-table thead tr:first-child td.nhsd-m-table__col--orderable,
  .nhsd-m-table thead tr:first-child th.nhsd-m-table__col--orderable {
    padding: 0;
  }
  
  .nhsd-m-table thead tr:first-child td.nhsd-m-table__col--orderable button,
  .nhsd-m-table thead tr:first-child th.nhsd-m-table__col--orderable button {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 3px;
    padding: .5555555556rem;
    border: 0;
    color: inherit;
    background: 0 0;
    font: inherit;
    text-align: inherit;
    cursor: pointer;
    align-items: center;
  }
  
  .nhsd-m-table thead tr:first-child td.nhsd-m-table__col--orderable button:hover .nhsd-a-icon,
  .nhsd-m-table thead tr:first-child th.nhsd-m-table__col--orderable button:hover .nhsd-a-icon {
    margin-bottom: 0;
    border-bottom: 3px solid var(--black, #231f20);
    color: var(--black, #231f20);
    background-color: var(--yellow, #fae100);
  }
  
  .nhsd-m-table thead tr:first-child td.nhsd-m-table__col--orderable button:hover svg,
  .nhsd-m-table thead tr:first-child th.nhsd-m-table__col--orderable button:hover svg {
    opacity: 1;
    fill: var(--black, #231f20);
  }
  
  .nhsd-m-table td,
  .nhsd-m-table th {
    padding: .5555555556rem;
    text-align: left;
  }
  
  .nhsd-m-table td:not(:first-child) .nhsd-a-icon,
  .nhsd-m-table th:not(:first-child) .nhsd-a-icon {
    margin-right: 0;
    margin-left: 10px;
  }
  
  .nhsd-m-table td[data-sort=asc] svg,
  .nhsd-m-table td[data-sort=desc] svg,
  .nhsd-m-table th[data-sort=asc] svg,
  .nhsd-m-table th[data-sort=desc] svg {
    fill: var(--blue, #005bbb);
  }
  
  .nhsd-m-table td .nhsd-a-icon,
  .nhsd-m-table th .nhsd-a-icon {
    box-sizing: content-box;
    margin-left: 10px;
    border-bottom: 3px solid transparent;
    fill: var(--mid-grey, #768692);
    vertical-align: text-bottom;
  }
  
  .nhsd-m-table .nhsd-m-table__group-items>tr>td {
    padding: .2777777778rem .5555555556rem;
    border: 0;
  }
  
  .nhsd-m-table .nhsd-m-table__group-items>tr:first-child td {
    padding-top: .5555555556rem;
  }
  
  .nhsd-m-table .nhsd-m-table__group-items>tr:last-child td {
    padding-bottom: .5555555556rem;
  }
  
  .nhsd-m-table__highlighted-items {
    color: var(--black, #231f20);
    background: var(--pale-grey-40-tint, #f6f8f8);
    font-weight: 600;
  }
  
  .nhsd-m-table--colour-white {
    color: var(--white, #ffffff);
  }
  
  .nhsd-m-table--colour-white tbody>tr>td,
  .nhsd-m-table--colour-white tbody>tr>th,
  .nhsd-m-table--colour-white thead>tr>td,
  .nhsd-m-table--colour-white thead>tr>th {
    border-color: var(--white, #ffffff);
    color: var(--white, #ffffff);
  }
  
  .nhsd-m-table--colour-white tbody>tr>td svg,
  .nhsd-m-table--colour-white tbody>tr>th svg,
  .nhsd-m-table--colour-white thead>tr>td svg,
  .nhsd-m-table--colour-white thead>tr>th svg {
    opacity: .4;
    fill: var(--white, #ffffff);
  }
  
  .nhsd-m-table--colour-white tbody>tr>td[data-sort=asc] svg,
  .nhsd-m-table--colour-white tbody>tr>td[data-sort=desc] svg,
  .nhsd-m-table--colour-white tbody>tr>th[data-sort=asc] svg,
  .nhsd-m-table--colour-white tbody>tr>th[data-sort=desc] svg,
  .nhsd-m-table--colour-white thead>tr>td[data-sort=asc] svg,
  .nhsd-m-table--colour-white thead>tr>td[data-sort=desc] svg,
  .nhsd-m-table--colour-white thead>tr>th[data-sort=asc] svg,
  .nhsd-m-table--colour-white thead>tr>th[data-sort=desc] svg {
    opacity: 1;
    fill: var(--white, #ffffff);
  }
  
  .nhsd-m-table--colour-white .nhsd-m-table__highlighted-items,
  .nhsd-m-table--colour-white .nhsd-m-table__mobile-list ul>li>ul.nhsd-m-table__mobile-list-item--highlighted {
    background: rgba(255,255,255,.2);
  }
  
  .nhsd-m-table--right-align thead tr:first-child td.nhsd-m-table__col--orderable button,
  .nhsd-m-table--right-align thead tr:first-child th.nhsd-m-table__col--orderable button {
    justify-content: flex-end;
  }
  
  .nhsd-m-table--right-align thead tr:first-child td.nhsd-m-table__col--orderable button .nhsd-a-icon,
  .nhsd-m-table--right-align thead tr:first-child th.nhsd-m-table__col--orderable button .nhsd-a-icon {
    margin-right: 10px;
    margin-left: 0;
  }
  
  .nhsd-m-table--right-align td,
  .nhsd-m-table--right-align th,
  .nhsd-m-table__col--right-align td,
  .nhsd-m-table__col--right-align th,
  .nhsd-m-table__mobile-list ul>li>ul>li>span {
    text-align: right;
  }
  
  .nhsd-m-table__col--right-align.nhsd-m-table__col--orderable button {
    justify-content: flex-end;
  }
  
  .nhsd-m-table__col--right-align.nhsd-m-table__col--orderable button .nhsd-a-icon {
    margin-right: 10px;
    margin-left: 0;
  }
  
  .nhsd-m-table__mobile-list {
    font-size: .888rem;
  }
  
  .nhsd-m-table__mobile-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nhsd-m-table__mobile-list ul>li>ul {
    margin-bottom: 1.6666666667rem;
    padding: .5555555556rem 0;
    border: 2px solid var(--mid-grey-20-tint, #d5dade);
    border-radius: .333rem;
  }
  
  .nhsd-m-table__mobile-list ul>li>ul.nhsd-m-table__mobile-list-item--highlighted {
    border: 0;
    background: var(--pale-grey-80-tint, #edf1f1);
  }
  
  .nhsd-m-table__mobile-list ul>li>ul>li {
    display: flex;
    justify-content: space-between;
    margin: 0 1.1111111111rem;
    padding: .5555555556rem 0;
  }
  
  .nhsd-m-table__mobile-list ul>li>ul>li:not(:last-child) {
    border-bottom: 1px solid var(--mid-grey-20-tint, #d5dade);
  }
  
  .nhsd-m-table__mobile-list ul>li>ul>li.nhsd-m-table__mobile-list-item-row--no-borders {
    padding-bottom: 0;
    border: 0;
  }
  
  .nhsd-m-table__mobile-list ul>li>ul>li>span:first-child {
    padding-right: .5555555556rem;
    color: var(--black, #231f20);
    text-align: left;
  }
  
  .nhsd-m-table--colour-white .nhsd-m-table__mobile-list ul>li>ul>li span {
    color: var(--white, #ffffff);
  }