.h1-caption {
    padding-bottom: 0px;
    margin-bottom: 5px;
    color: $nhsuk-secondary-text-color;
}

.key-links-container {
    background-color: $color_nhsuk-white;
    border: 1px solid $nhsuk-border-color;
    padding: 20px;
}