@media (max-width: 48em) {

  .nhsuk-table__stack_columns {
      display: block !important;
      text-align: left !important;
  }
  
  .nhsuk-table-responsive__content {
      margin-top: 15px !important;
  }

  .datasets-column {
      display: block !important;
  }
}