.nhsuk-search__input {
    border-radius: 0px;
    width: 585px;
    margin-left: 0px !important;
}

.nhsuk-header__search {
    margin-left: 0px;
    padding-left: 0px;
}

.nhsuk-search__submit {
    border: 2px solid white;
    background: white;
}

