{% extends 'custom-layouts/explorer/exp-default-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Chronic respiratory disease - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-u-font-size-24 nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-2">Influenza vaccinations winter 2022 to 2023</p>
      <h1 class="nhsuk-heading-xl">Chronic respiratory disease</h1>

      <!-- Content list -->

      <nav class="nhsuk-contents-list" role="navigation" aria-label="Content list of this condition group">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current" href="#rule-logic">
              Rule logic
            </span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#non-digital-pathways">Non-digital pathways</a>
          </li>
        </ol>
      </nav> <!-- /. nhsuk-content-list -->

      <!-- Rule logic -->

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <h2 class="nhsuk-heading-l" id="rule-logic">Rule logic</h2>
      <p>The information below shows the cohorts that have been identified for call and recall for the flu season from 2022 to 2023.</p>
      <p>These conditions are detailed in <a href="https://www.gov.uk/government/publications/influenza-the-green-book-chapter-19" title="External website">chapter 19 of the influenza Green Book</a>.</p>

    </div> <!-- /. nhsuk-grid-column-two-thirds -->

    <div class="nhsuk-grid-column-full">

      <!-- Rule Logic Table View < 1024px -->

      <div class="nhsd-m-table__mobile-list">
        <ul class="nhsd-!t-display-s-hide">

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Condition description</p>
                <p class="m-table-content">Asthma that requires continuous or repeated use of inhaled steroids or systemic steroids.</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Data used</p>
                <p class="m-table-content">GPES v4 and GDPPR</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Ruleset</p>
                <p class="m-table-content">All people over 6 months of age on asthma treatment (inhaled steroids) in the previous 12 months.</p>
              </li>
            </ul>
          </li>

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Condition description</p>
                <p class="m-table-content">Asthma with previous exacerbations requiring hospital admission.</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Data used</p>
                <p class="m-table-content">GPES v4 and GDPPR</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Ruleset</p>
                <p class="m-table-content">All people over 6 months of age with an emergency admission due to asthma between 1 September 2022 to 31 March 2023.</p>
              </li>
            </ul>
          </li>

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Condition description</p>
                <p class="m-table-content">Children who have previously been admitted to hospital for lower respiratory tract disease.</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Data used</p>
                <p class="m-table-content">GPES v4 and GDPPR</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Ruleset</p>
                <p class="m-table-content">All children under 17 years on 1 September 2023 and over 6 months of age who have previously been admitted to hospital for a lower respiratory tract disease.</p>
              </li>
            </ul>
          </li>

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Condition description</p>
                <p class="m-table-content">Chronic obstructive pulmonary disease (COPD) including chronic bronchitis and emphysema; bronchiectasis, cystic fibrosis, interstitial lung fibrosis, pneumoconiosis and bronchopulmonary dysplasia (BPD).
                </p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Data used</p>
                <p class="m-table-content">GPES v4 and GDPPR</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Ruleset</p>
                <p class="m-table-content">
                  All people over 6 months of age with a diagnosis of COPD.<br><br>This includes chronic bronchitis and emphysema, bronchiectasis, cystic fibrosis, interstitial lung fibrosis, pneumoconiosis and BPD.
                </p>
              </li>
            </ul>
          </li>

        </ul> <!-- nhsd-!t-display-s-hide -->
      </div> <!-- /. nhsd-m-table__mobile-list -->

      <!-- Rule Logic Table View > 1024px -->

      <table role="table" class="nhsuk-table-responsive rule-logic-table-desktop">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Condition description
            </th>
            <th role="columnheader" class="" scope="col">
              Data used
            </th>
            <th role="columnheader" class="" scope="col">
              Ruleset
            </th>
          </tr>
        </thead>

        <tbody class="nhsuk-table__body">

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-third">
              <span class="nhsuk-table-responsive__heading">
                Condition description
              </span>
              Asthma that requires continuous or repeated use of inhaled or systemic steroids.
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-quarter">
              <span class="nhsuk-table-responsive__heading">
                Data used
              </span>
              GPES v4 and GDPPR
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-third">
              <span class="nhsuk-table-responsive__heading">
                Ruleset
              </span>
              All people over 6 months of age on asthma treatment (inhaled steroids) in the previous 12 months.
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">
                Condition description
              </span>
              Asthma with previous exacerbations requiring hospital admission.
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">
                Data used
              </span>
              GPES v4 and GDPPR
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">
                Ruleset
              </span>
              All people over 6 months of age with an emergency admission due to asthma between 1 September 2022 to 31 March 2023.
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">
                Condition descirption
              </span>
              Children who have previously been admitted to hospital for lower respiratory tract disease.
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">
                Data used
              </span>
              GPES v4 and GDPPR
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">
                Ruleset
              </span>
              All children under 17 years on 1 September 2023 and over 6 months of age who have previously been admitted to hospital for a lower respiratory tract disease.
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">
                Condition description
              </span>
              Chronic obstructive pulmonary disease (COPD) including chronic bronchitis and emphysema; bronchiectasis, cystic fibrosis, interstitial
              lung fibrosis, pneumoconiosis and bronchopulmonary dysplasia (BPD).
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">
                Data used
              </span>
              GPES v4 and GDPPR
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">
                Ruleset
              </span>
              All people over 6 months of age with a diagnosis of COPD.
              <div class="nhsuk-u-padding-bottom-3"></div>
              This includes chronic bronchitis and emphysema, bronchiectasis, cystic fibrosis, interstitial lung fibrosis, pneumoconiosis and BPD.
            </td>
          </tr>

        </tbody>
      </table>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>
          <a href="../code-sets/chronic-respiratory-disease/specific-code-sets">
            View the code lists for this condition group.
          </a>
        </p>
      </div>

    </div> <!-- /. nhsuk-grid-column-full -->

    <!-- Non-Digital Pathways -->

    <div class="nhsuk-grid-column-two-thirds">
      <h2 class="nhsuk-heading-l" id="non-digital-pathways">Non-digital pathways</h2>
      <p>Data that is held within a GP clinical system does not hold a patients complete medical records. This means that a percentage of the patients identified within the clinical policy will not have been captured in the digital patient cohort.</p>
      <p>If you believe you are entitled to an NHS flu vaccination and you have not been included in the digital cohort, you can <a href="https://www.nhs.uk/conditions/vaccinations/flu-influenza-vaccine/">visit the NHS website on the flu vaccine</a>.</p>
    </div> <!-- /. nhsuk-grid-column-two-thirds -->

    <div class="nhsuk-grid-column-full">

      <!-- Non-Digital Pathways Table View < 1024px -->

      <div class="nhsd-m-table__mobile-list">
        <ul class="nhsd-!t-display-s-hide">

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Condition description</p>
                <p class="m-table-content">Asthma that requires continuous or repeated use of inhaled steroids or systemic steroids.</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Conditions following a non-digital pathway</p>
                <p class="m-table-content">The prescribing data for systemic steroids is not maintained centrally on GP records, so it’s not possible to determine the duration and dose of treatment.<br><br> People identified as being on asthma treatment with systemic steroids, may not be included in the digital cohort unless a GP practice uses a SNOMED CT administrative code to show eligibility for flu vaccination.</p>
              </li>
            </ul>
          </li>

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Condition description</p>
                <p class="m-table-content">Asthma with previous exacerbations requiring hospital admission.</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Conditions following a non-digital pathway</p>
                <p class="m-table-content">When it comes to data around hospital admissions, GP records, are not reliable.<br><br>People identified based only on hospital admission data, may not be included in the digital cohort unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination.</p>
              </li>
            </ul>
          </li>

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Condition description</p>
                <p class="m-table-content">Chronic obstructive pulmonary disease (COPD) including chronic bronchitis and emphysema; bronchiectasis, cystic fibrosis, interstitial lung fibrosis, pneumoconiosis and BPD.</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Conditions following a non-digital pathway</p>
                <p class="m-table-content">All conditions are included in digital pathway.</p>
              </li>
            </ul>
          </li>

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Condition description</p>
                <p class="m-table-content">Children who have previously been admitted to hospital for lower respiratory tract disease.</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Conditions following a non-digital pathway</p>
                <p class="m-table-content">When it comes to data around hospital admissions, GP records, are not reliable.<br><br>People identified based only on hospital admission data, may not be included in the digital cohort unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination.</p>
              </li>
            </ul>
          </li>

        </ul> <!-- /. nhsd-!t-display-s-hide -->
      </div> <!-- /. nhsd-m-table__mobile-list -->

      <!-- Non-Digital Pathways Table View > 1024px -->

      <table role="table" class="nhsuk-table-responsive non-digital-pathways-table-desktop">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Condition description
            </th>
            <th role="columnheader" class="" scope="col">
              Conditions following a non-digital pathway
            </th>
          </tr>
        </thead>

        <tbody class="nhsuk-table__body">

          <!-- #1 Clinical Condition -->

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
              <span class="nhsuk-table-responsive__heading">
                Condition description
              </span>
              Asthma that requires continuous or repeated use of inhaled steroids or systemic steroids.
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
              <span class="nhsuk-table-responsive__heading">
                Conditions following a non-digital pathway
              </span>
              The prescribing data for systemic steroids is not maintained centrally on GP records, so it’s not possible to determine the duration and dose of treatment.
              <div class="nhsuk-u-padding-bottom-3"></div>
              People identified as being on asthma treatment with systemic steroids, may not be included in the digital cohort unless a GP practice uses a SNOMED CT administrative code to show eligibility for flu vaccination.
            </td>
          </tr>

          <!-- #2 Clinical Condition -->

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
              <span class="nhsuk-table-responsive__heading">
                Condition description
              </span>
              Asthma with previous exacerbations requiring hospital admission.
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
              <span class="nhsuk-table-responsive__heading">
                Conditions following a non-digital pathway 
              </span>
              When it comes to data around hospital admissions, GP records, are not reliable.
              <div class="nhsuk-u-padding-bottom-3"></div>
              People identified based only on hospital admission data, may not be included in the digital cohort unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination.
            </td>
          </tr>

          <!-- #3 Clinical Condition -->

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
              <span class="nhsuk-table-responsive__heading">
                Condition description
              </span>
              COPD including chronic bronchitis and emphysema; bronchiectasis, cystic fibrosis, interstitial lung fibrosis, pneumoconiosis and BPD.</td>
            <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
              <span class="nhsuk-table-responsive__heading">
                Conditions following a non-digital pathway </span>
                All conditions are included in digital pathway.
            </td>
          </tr>

          <!-- #4 Clinical Condition -->

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
              <span class="nhsuk-table-responsive__heading">
                Condition description
              </span>
              Children who have previously been admitted to hospital for lower respiratory tract disease.
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
              <span class="nhsuk-table-responsive__heading">
                Conditions following a non-digital pathway
              </span>
              When it comes to data around hospital admissions, GP records, are not reliable.
              <div class="nhsuk-u-padding-bottom-3"></div>
              People identified based only on hospital admission data, may not be included in the digital cohort unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination.
            </td>
          </tr>

        </tbody> <!-- /. nhsuk-table__body -->
      </table> <!-- /. nhsuk-table-responsive -->
    </div> <!-- /. nhsuk-grid-column-full -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}