{% extends 'custom-layouts/caas-header-sub-nav.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-u-font-size-24 nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-2">Influenza vaccinations winter
        2022 to 2023</p>
      <h1 class="nhsuk-heading-xl">Chronic neurological disease</h1>

      <!-- Content list -->

      <nav class="nhsuk-contents-list" role="navigation" aria-label="Content list of this condition group">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current" href="#rule-logic">Rule logic</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#non-digital-pathways">Non-digital pathways</a>
          </li>
        </ol>
      </nav> <!-- /. nhsuk-content-list -->

      <!-- Rule logic -->

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <h2 class="nhsuk-heading-l" id="rule-logic">Rule logic</h2>
      <p>The information below shows the digital pathway rule logic for the conditions that have been identified for call and recall for the flu season winter 2022 to 2023.</p>
      <p>These conditions are detailed in <a href="https://www.gov.uk/government/publications/influenza-the-green-book-chapter-19" title="External website">chapter 19 of the influenza Green Book</a>.</p>

    </div>

    <div class="nhsuk-grid-column-full">

      <!-- Table at < 1024px viewport --> 

      <div class="nhsd-m-table__mobile-list">
        <ul class="nhsd-!t-display-s-hide">

          <!-- #1 Clinical Condition -->

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <!-- Condition description -->
              <li>
                <p class="m-table-header">Condition description</p>
                <p class="m-table-content">Conditions in which respiratory function may be compromised due to neurological disease (e.g. polio syndrome sufferers).<br><br>Clinicians should offer immunisation, based on individual assessment, to clinically vulnerable individuals.<br><br>This includes those with cerebral palsy, learning disabilities, multiple sclerosis and related or similar conditions; or hereditary and degenerative disease of the nervous system or muscles; or severe neurological disability.</p>
              </li>
              <!-- Data used -->
              <li>
                <p class="m-table-header">Data used</p>
                <p class="m-table-content">GPES v4 and GDPPR</p>
              </li>
              <!-- Ruleset -->
              <li>
                <p class="m-table-header">Ruleset</p>
                <p class="m-table-content">All people over 6 months of age diagnosed with a neurological condition where respiratory compromise is often severe and occult, such as Motor Neuron Disease, Parkinson’s Disease and Huntington’s Chorea.</p>
              </li>
            </ul>
          </li>

          <!-- #2 Clinical Condition -->

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <!-- Condition description -->
              <li>
                <p class="m-table-header">Condition description</p>
                <p class="m-table-content">Stroke, transient ischaemic attack (TIA)</p>
              </li>
              <!-- Data used -->
              <li>
                <p class="m-table-header">Data used</p>
                <p class="m-table-content">GPES v4 and GDPPR</p>
              </li>
              <!-- Ruleset -->
              <li>
                <p class="m-table-header">Ruleset</p>
                <p class="m-table-content">All people over 6 months of age diagnosed with stroke or TIA</p>
              </li>
            </ul>
          </li>

        </ul> <!-- nhsd-!t-display-s-hide -->
      </div> <!-- /. nhsd-m-table__mobile-list -->

      <!-- Table at > 1024px viewport -->
      
      <table class="nhsuk-table chronic-respiratory-code-set-table-desktop">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Condition description
            </th>
            <th role="columnheader" class="" scope="col">
              Data used
            </th>
            <th role="columnheader" class="" scope="col">
              Ruleset
            </th>
          </tr>
        </thead>
        
        <tbody class="nhsuk-table__body">

        <!-- #1 Clinical Condition -->

        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell nhsuk-u-width-one-third">
            Conditions in which respiratory function may be compromised due to neurological disease (e.g. polio syndrome sufferers).
            <div class="nhsuk-u-padding-bottom-3"></div>
            Clinicians should offer immunisation, based on individual assessment, to clinically vulnerable individuals.
            <div class="nhsuk-u-padding-bottom-3"></div>
            This includes those with cerebral palsy, learning disabilities, multiple sclerosis and related or similar conditions; or hereditary and degenerative disease of the nervous system or muscles; or severe neurological disability.
          </td>
          <td class="nhsuk-table__cell nhsuk-u-width-one-quarter">
            GPES v4 and GDPPR
          </td>
          <td class="nhsuk-table__cell nhsuk-u-width-one-third">
            All people over 6 months of age diagnosed with a neurological condition where respiratory compromise is often severe and occult, such as Motor Neuron Disease, Parkinson’s Disease and Huntington’s Chorea.
          </td>
        </tr>

        <!-- #2 Clinical Condition -->

        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            Stroke, transient ischaemic attack (TIA)
          </td>
          <td class="nhsuk-table__cell">
            GPES v4 and GDPPR
          </td>
          <td class="nhsuk-table__cell">
            All people over 6 months of age diagnosed with stroke or TIA
          </td>
        </tr>

        </tbody> <!-- /. nhsuk-table__body -->
      </table> <!-- /. nhsuk-table -->

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>
          <a href="../code-sets/chronic-respiratory-disease/specific-code-sets">
            View the code lists for this condition group
          </a>.
        </p>
      </div>

    </div> <!-- /. nhsuk-grid-column-full -->

    <div class="nhsuk-grid-column-two-thirds">

      <h2 class="nhsuk-heading-l" id="non-digital-pathways">Non-digital pathways</h2>
      <p>Data that is held within a GP clinical system does not hold a patients complete medical records. This means that a percentage of the patients identified within the clinical policy will not have been captured in the digital patient cohort.</p>
      <p>The conditions below are not included in the digital cohort.</p>
      <p>If you believe you are entitled to an NHS flu vaccination and you have not been included in the digital cohort, you can <a href="https://www.nhs.uk/conditions/vaccinations/flu-influenza-vaccine/">visit the NHS website on the influenza vaccine</a>.</p>

    </div> <!-- /. nhsuk-grid-column-two-thirds -->

    <div class="nhsuk-grid-column-full">

      <!-- Table at < 1024px viewport --> 

      <div class="nhsd-m-table__mobile-list">
        <ul class="nhsd-!t-display-s-hide">

          <!-- #1 Clinical Condition -->

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <!-- Condition description -->
              <li>
                <p class="m-table-header">Condition description</p>
                <p class="m-table-content">Conditions in which respiratory function may be compromised due to neurological disease (e.g. polio syndrome sufferers).<br><br>Clinicians should offer immunisation, based on individual assessment, to clinically vulnerable individuals.<br><br>This includes those with cerebral palsy, learning disabilities, multiple sclerosis, and related or similar conditions.<br><br>Also included are those with hereditary and degenerative disease of the nervous system or muscles, or severe neurological disability.</p>
              </li>
              <!-- Ruleset -->
              <li>
                <p class="m-table-header">Ruleset</p>
                <p class="m-table-content">Eligibility for flu vaccination where respiratory compromise is variable (such as in multiple sclerosis and cerebral palsy), may not be included in the digital cohort unless a GP practice adds a SNOMED CT administrative code.</p>
              </li>
            </ul>
          </li>

          <!-- #2 Clinical Condition -->

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <!-- Condition description -->
              <li>
                <p class="m-table-header">Condition description</p>
                <p class="m-table-content">Stroke, TIA</p>
              </li>
              <!-- Ruleset -->
              <li>
                <p class="m-table-header">Ruleset</p>
                <p class="m-table-content">All conditions are included in digital pathway.</p>
              </li>
            </ul>
          </li>

        </ul> <!-- nhsd-!t-display-s-hide -->
      </div> <!-- /. nhsd-m-table__mobile-list -->

      <!-- Table at > 1024px viewport -->
      
      <table class="nhsuk-table chronic-respiratory-code-set-table-desktop">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Condition description
            </th>
            <th role="columnheader" class="" scope="col">
              Ruleset
            </th>
          </tr>
        </thead>

        <tbody class="nhsuk-table__body">

        <!-- #1 Clinical Condition -->

        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell nhsuk-u-width-one-half">
            Conditions in which respiratory function may be compromised due to neurological disease (e.g. polio syndrome sufferers).
            <div class="nhsuk-u-padding-bottom-3"></div>
            Clinicians should offer immunisation, based on individual assessment, to clinically vulnerable individuals.
            <div class="nhsuk-u-padding-bottom-3"></div>
            This includes those with cerebral palsy, learning disabilities, multiple sclerosis, and related or similar conditions.
            <div class="nhsuk-u-padding-bottom-3"></div>
            Also included are those with hereditary and degenerative disease of the nervous system or muscles, or severe neurological disability.
          </td>
          <td class="nhsuk-table__cell nhsuk-u-width-one-half">
            Eligibility for flu vaccination where respiratory compromise is variable (such as in multiple sclerosis and cerebral palsy), may not be included in the digital cohort unless a GP practice adds a SNOMED CT administrative code.
          </td>
        </tr>

        <!-- #2 Clinical Condition -->

        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            Stroke, TIA
          </td>
          <td class="nhsuk-table__cell">
            All conditions are included in digital pathway.
          </td>
        </tr>

        </tbody> <!-- /. nhsuk-table__body -->
      </table> <!-- /. nhsuk-table -->
    </div> <!-- /. nhsuk-grid-column-full -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}