{% extends 'custom-layouts/explorer/exp-default-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Diabetes and adrenal insufficiency - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-u-font-size-24 nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-2">Influenza vaccinations 2022 to 2023</p>
      <h1 class="nhsuk-heading-xl">Diabetes and adrenal insufficiency</h1>

      <!-- Content list -->

      <nav class="nhsuk-contents-list" role="navigation" aria-label="Content list of this condition group">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current" href="#rule-logic">
              Rule logic
            </span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="#non-digital-pathways">
              Non-digital pathways
            </a>
          </li>
        </ol>
      </nav> <!-- /. nhsuk-content-list -->

      <!-- Rule logic -->

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <h2 class="nhsuk-heading-l" id="rule-logic">Rule logic</h2>
      <p>The information below shows the digital pathway rule logic for the conditions that have been identified for call and recall for the flu season winter 2022 to 2023.</p>
      <p>These conditions are detailed in <a href="https://www.gov.uk/government/publications/influenza-the-green-book-chapter-19" title="External website">chapter 19 of the influenza Green Book</a>.</p>

      <h3 class="nhsuk-heading-m">Condition description</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>type 1 diabetes</li>
        <li>type 2 diabetes requiring insulin or oral hypoglycaemic drugs</li>
        <li>diet controlled diabetes</li>
        <li>Addison’s disease</li>
        <li>
          secondary or tertiary adrenal insufficiency requiring steroid replacement
        </li>
      </ul>

      <h3 class="nhsuk-heading-m">Ruleset</h3>
      <p>People who are:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>over 6 months of age</li>
        <li>recorded with diabetes mellitus and not recovered since</li>
      </ul>


      <h3 class="nhsuk-heading-m">Data used</h3>
      <p>GPES v4 and GDPPR</p>

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

      <!-- Non-Digital Pathways -->

      <h2 class="nhsuk-heading-l" id="non-digital-pathways">Non-digital pathways</h2>
      <p>Data that is held within a GP clinical system does not hold a patients complete medical records. This means that a percentage of the patients identified within the clinical policy will not have been captured in the digital patient cohort.</p>
      <p>If you believe you are entitled to an NHS flu vaccination and you have not been included in the digital cohort, you can <a href="https://www.nhs.uk/conditions/vaccinations/flu-influenza-vaccine/">visit the NHS website on the flu vaccine</a>.</p>
      <p>All diabetes conditions are included in digital pathway.</p>
      <p>People identified with Addison's disease on systemic steroids prescribed by their GP or hospital, may not be included in the digital cohort unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination.</p>

      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
        Last updated: 10 October 2022
      </p>

    </div> <!-- /. nhsuk-grid-column-two-thirds -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}
