{% extends 'custom-layouts/explorer/exp-default-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
    Immunosuppression including asplenia or dysfunction of the spleen - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <form action="#" method="POST">
        <div class="nhsuk-grid-column-two-thirds">
            <p class="nhsuk-u-font-size-24 nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-2">Influenza vaccinations 2022 to 2023</p>
            <h1 class="nhsuk-heading-xl">Immunosuppression including asplenia or dysfunction of the spleen</h1>

            <!-- Content list -->

            <nav class="nhsuk-contents-list" role="navigation" aria-label="Content list of this condition group">
                <h2 class="nhsuk-u-visually-hidden">Contents</h2>
                <ol class="nhsuk-contents-list__list">
                    <li class="nhsuk-contents-list__item" aria-current="page">
                        <span class="nhsuk-contents-list__current" href="#rule-logic">
                            Rule logic
                        </span>
                    </li>
                    <li class="nhsuk-contents-list__item">
                        <a class="nhsuk-contents-list__link" href="#non-digital-pathways">Non-digital pathways</a>
                    </li>
                </ol>
            </nav> <!-- /. nhsuk-content-list -->

            <!-- Rule logic -->

            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

            <h2 class="nhsuk-heading-l" id="rule-logic">Rule logic</h2>
            <p>The information below shows the digital pathway rule logic for the conditions that have been identified
                for call and recall for the flu season winter 2022 to 2023.</p>
            <p>These conditions are detailed in <a
                    href="https://www.gov.uk/government/publications/influenza-the-green-book-chapter-19"
                    title="External website">chapter 19 of the influenza Green Book</a>.</p>

        </div> <!-- /. nhsuk-grid-column-two-thirds -->

        <div class="nhsuk-grid-column-full">

            <!-- Rule Logic Table View < 1024px -->

            <div class="nhsd-m-table__mobile-list">
                <ul class="nhsd-!t-display-s-hide">

                    <li>
                        <ul class="nhsd-m-table__mobile-list-item">
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Condition description</p>
                                <p class="m-table-content">
                                    Immunosuppression due to disease leading to immunosuppression, bone marrow transplant, HIV infection at all stages, multiple myeloma or genetic disorders affecting the immune system (e.g. IRAK-4, NEMO, complement disorder).
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    It’s difficult to define at what level of immunosuppression a patient could be considered to be at a greater risk of the serious consequences of flu and should be offered a vaccination.
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    This decision is best made on an individual basis and left to the patient’s clinician.
                                </p>
                            </li>
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Data used</p>
                                <p class="m-table-content">
                                    GPES v4 and GDPPR
                                </p>
                            </li>
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Conditions following a non-digital pathway</p>
                                <p class="m-table-content">
                                    All people over 6 months of age.
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    People with immunosuppression due to haematological disease (including multiple myeloma), bone marrow transplant, HIV infection at all stages, Down's syndrome, neutropenia.
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    Also, some genetic causes of immunosuppression (such as severe combined immunodeficiency) and acquired causes of immunosuppression.
                                </p>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <ul class="nhsd-m-table__mobile-list-item">
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Condition description</p>
                                <p class="m-table-content">
                                    Immunosuppression due to treatment leading to immunosuppression.
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    This includes patients undergoing chemotherapy and individuals treated with or likely to be treated with systemic steroids for more than a month at a dose equivalent to prednisolone at 20mg or more per day (any age).
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    For children under 20kg, a dose of 1mg or more per kg per day.
                                </p>
                            </li>
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Data used</p>
                                <p class="m-table-content">
                                    GPES v4 and GDPPR
                                </p>
                            </li>
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Ruleset</p>
                                <p class="m-table-content">
                                    All people over 6 months of age prescribed immunosuppressants by their GP (apart from oral steroids).
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    Also, some people over 6 months of age on chemotherapy within the last 12 months.
                                </p>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <ul class="nhsd-m-table__mobile-list-item">
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Condition description</p>
                                <p class="m-table-content">
                                    Asplenia or dysfunction of the spleen.
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    This also includes conditions such as homozygous sickle cell disease, hereditary spherocytosis, thalassemia major and coeliac syndrome that may lead to splenic dysfunction.
                                </p>
                            </li>
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Data used</p>
                                <p class="m-table-content">
                                    GPES v4 and GDPPR
                                </p>
                            </li>
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Ruleset</p>
                                <p class="m-table-content">
                                    All people with a splenectomy or splenic damage, sickle cell anaemia, thalasaemia, spherocytosis, coeliac syndrome and some other diseases that cause asplenia or splenic dysfunction.
                                </p>
                            </li>
                        </ul>
                    </li>

                </ul> <!-- nhsd-!t-display-s-hide -->
            </div> <!-- /. nhsd-m-table__mobile-list -->

            <!-- Rule Logic Table View > 1024px -->

            <table role="table" class="nhsuk-table-responsive rule-logic-table-desktop">
                <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                        <th role="columnheader" class="" scope="col">
                            Condition description
                        </th>
                        <th role="columnheader" class="" scope="col">
                            Data used
                        </th>
                        <th role="columnheader" class="" scope="col">
                            Ruleset
                        </th>
                    </tr>
                </thead>

                <tbody class="nhsuk-table__body">

                    <!-- #1 Condition Description -->

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-third">
                            <span class="nhsuk-table-responsive__heading">
                                Condition description
                            </span>
                            Immunosuppression due to disease leading to immunosuppression, bone marrow transplant, HIV infection at all stages, multiple myeloma or genetic disorders affecting the immune system (e.g. IRAK-4, NEMO, complement disorder).
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            It’s difficult to define at what level of immunosuppression a patient could be considered to be at a greater risk of the serious consequences of flu and should be offered a vaccination.
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            This decision is best made on an individual basis and left to the patient’s clinician.
                        </td>
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-quarter">
                            <span class="nhsuk-table-responsive__heading">
                                Data used
                            </span>
                            GPES v4 and GDPPR
                        </td>
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-third">
                            <span class="nhsuk-table-responsive__heading">
                                Ruleset 
                            </span>
                            All people over 6 months of age.
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            People with immunosuppression due to haematological disease (including multiple myeloma), bone marrow transplant, HIV infection at all stages, Down's syndrome, neutropenia.
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            Also, some genetic causes of immunosuppression (such as severe combined immunodeficiency) and acquired causes of immunosuppression.
                        </td>
                    </tr>

                    <!-- #2 Condition Description -->

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-third">
                            <span class="nhsuk-table-responsive__heading">
                                Condition description
                            </span>
                            Immunosuppression due to treatment leading to immunosuppression.
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            This includes patients undergoing chemotherapy and individuals treated with or likely to be treated with systemic steroids for more than a month at a dose equivalent to prednisolone at 20mg or more per day (any age).
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            For children under 20kg, a dose of 1mg or more per kg per day.
                        </td>
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-quarter">
                            <span class="nhsuk-table-responsive__heading">
                                Data used
                            </span>
                            GPES v4 and GDPPR
                        </td>
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-third">
                            <span class="nhsuk-table-responsive__heading">
                                Ruleset 
                            </span>
                            All people over 6 months of age prescribed immunosuppressants by their GP (apart from oral steroids).
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            Also, some people over 6 months of age on chemotherapy within the last 12 months.
                        </td>
                    </tr>

                    <!-- #3 Condition Description -->

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-third">
                            <span class="nhsuk-table-responsive__heading">Condition description </span>Asplenia or dysfunction of the spleen.
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            This also includes conditions such as homozygous sickle cell disease, hereditary spherocytosis, thalassemia major and coeliac syndrome that may lead to splenic dysfunction.
                        </td>
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-quarter">
                            <span class="nhsuk-table-responsive__heading">Data used </span>GPES v4 and GDPPR
                        </td>
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-third">
                            <span class="nhsuk-table-responsive__heading">
                                Ruleset 
                            </span>
                            All people with a splenectomy or splenic damage, sickle cell anaemia, thalasaemia, spherocytosis, coeliac syndrome and some other diseases that cause asplenia or splenic dysfunction.
                        </td>
                    </tr>
                </tbody>
            </table>

        </div> <!-- /. nhsuk-grid-column-full -->

        <!-- Non-Digital Pathways -->

        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-u-padding-bottom-6"></div>
            <h2 class="nhsuk-heading-l" id="non-digital-pathways">Non-digital pathways</h2>
            <p>Data that is held within a GP clinical system does not hold a patients complete medical records. This means that a percentage of the patients identified within the clinical policy will not have been captured in the digital patient cohort.</p>
            <p>If you believe you are entitled to an NHS flu vaccination and you have not been included in the digital cohort, you can <a href="https://www.nhs.uk/conditions/vaccinations/flu-influenza-vaccine/">visit the NHS website on the flu vaccine</a>.</p>
        </div> <!-- /. nhsuk-grid-column-two-thirds -->

        <div class="nhsuk-grid-column-full">

            <!-- Non-Digital Pathways Table View < 1024px -->

            <div class="nhsd-m-table__mobile-list">
                <ul class="nhsd-!t-display-s-hide">

                    <li>
                        <ul class="nhsd-m-table__mobile-list-item">
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Condition description</p>
                                <p class="m-table-content">
                                    Immunosuppression due to disease leading to immunosuppression, bone marrow transplant, HIV infection at all stages, multiple myeloma or genetic disorders affecting the immune system (e.g. IRAK-4, NEMO, complement disorder).
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    It’s difficult to define at what level of immunosuppression a patient could be considered to be at a greater risk of the serious consequences of flu and should be offered flu vaccination. This decision is best made on an individual basis and left to the patient’s clinician.
                                </p>
                            </li>
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Conditions following a non-digital pathway</p>
                                <p class="m-table-content">
                                    NHS Digital clinicians have worked hard to include all conditions that may cause immunosuppression. As there is no clinically agreed list of these conditions, the code clusters may not be complete.
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    People with immunocompromise due to disease, may not be included in the digital cohort unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination.
                                </p>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <ul class="nhsd-m-table__mobile-list-item">
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Condition description</p>
                                <p class="m-table-content">
                                    Immunosuppression due to treatment leading to immunosuppression.
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    This includes patients undergoing chemotherapy and individuals treated with or likely to be treated with systemic steroids for more than a month at a dose equivalent to prednisolone at 20mg or more per day (any age).
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    For children under 20kg, a dose of 1mg or more per kg per day.
                                </p>
                            </li>
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Conditions following a non-digital pathway</p>
                                <p class="m-table-content">
                                    Data for hospital prescribed medication is not held centrally, neither is community systemic steroid prescribing data held centrally in a format whereby duration and dose of treatment can be ascertained.
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    People on systemic steroids prescribed by their GP or hospital prescribed immunosuppressants, may not be included in the digital cohort unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    Patient data held in GP records does not generally identify people on chemotherapy.
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    People who are immunosuppressed due to current or recent chemotherapy treatment, may not be included in the digital cohort unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination.
                                </p>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <ul class="nhsd-m-table__mobile-list-item">
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Condition description</p>
                                <p class="m-table-content">
                                    Asplenia or dysfunction of the spleen. This includes conditions such as homozygous sickle cell disease, hereditary spherocytosis, thalassemia major and coeliac syndrome that may lead to splenic dysfunction.
                                </p>
                            </li>
                            <li class="m-table-content-wrapper">
                                <p class="m-table-header">Conditions following a non-digital pathway</p>
                                <p class="m-table-content">
                                    NHS Digital clinicians have worked hard to include all conditions that may cause asplenia or splenic dysfunction. As there is no clinically agreed list of these conditions, the code clusters may not be complete.
                                    <div class="nhsuk-u-padding-bottom-3"></div>
                                    People with asplenia or splenic dysfunction due to diseases , may not be included in the digital cohort unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination.
                                </p>
                            </li>
                        </ul>
                    </li>

                </ul> <!-- /. nhsd-!t-display-s-hide -->
            </div> <!-- /. nhsd-m-table__mobile-list -->

            <!-- Non-Digital Pathways Table View > 1024px -->

            <table role="table" class="nhsuk-table-responsive non-digital-pathways-table-desktop">
                <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                        <th role="columnheader" class="" scope="col">
                            Condition description
                        </th>
                        <th role="columnheader" class="" scope="col">
                            Conditions following a non-digital pathway
                        </th>
                    </tr>
                </thead>

                <tbody class="nhsuk-table__body">

                    <!-- #1 Clinical Condition -->

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
                            <span class="nhsuk-table-responsive__heading">
                                Condition description
                            </span>
                            Immunosuppression due to disease leading to immunosuppression, bone marrow transplant, HIV infection at all stages, multiple myeloma or genetic disorders affecting the immune system (e.g. IRAK-4, NEMO, complement disorder).
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            It’s difficult to define at what level of immunosuppression a patient could be considered to be at a greater risk of the serious consequences of flu and should be offered flu vaccination. This decision is best made on an individual basis and left to the patient’s clinician.
                        </td>
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
                            <span class="nhsuk-table-responsive__heading">
                                Conditions following a non-digital pathway
                            </span>
                            NHS Digital clinicians have worked hard to include all conditions that may cause immunosuppression. As there is no clinically agreed list of these conditions, the code clusters may not be complete.
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            People with immunocompromise due to disease, may not be included in the digital cohort unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination.
                        </td>
                    </tr>

                    <!-- #2 Clinical Condition -->

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
                            <span class="nhsuk-table-responsive__heading">
                                Condition description
                            </span>
                            Immunosuppression due to treatment leading to immunosuppression.
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            This includes patients undergoing chemotherapy and individuals treated with or likely to be treated with systemic steroids for more than a month at a dose equivalent to prednisolone at 20mg or more per day (any age).
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            For children under 20kg, a dose of 1mg or more per kg per day.
                        </td>
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
                            <span class="nhsuk-table-responsive__heading">
                                Conditions following a non-digital pathway
                            </span>
                            Data for hospital prescribed medication is not held centrally, neither is community systemic steroid prescribing data held centrally in a format whereby duration and dose of treatment can be ascertained. 
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            People on systemic steroids prescribed by their GP or hospital prescribed immunosuppressants, may not be included in the digital cohort unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination.
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            Patient data held in GP records does not generally identify people on chemotherapy.
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            People who are immunosuppressed due to current or recent chemotherapy treatment, may not be included in the digital cohort unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination.
                        </td>
                    </tr>

                    <!-- #3 Clinical Condition -->

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
                            <span class="nhsuk-table-responsive__heading">
                                Condition description
                            </span>
                            Asplenia or dysfunction of the spleen. This includes conditions such as homozygous sickle cell disease, hereditary spherocytosis, thalassemia major and coeliac syndrome that may lead to splenic dysfunction.
                        </td>
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-width-one-half">
                            <span class="nhsuk-table-responsive__heading">
                                Conditions following a non-digital pathway
                            </span>
                            NHS Digital clinicians have worked hard to include all conditions that may cause asplenia or splenic dysfunction. As there is no clinically agreed list of these conditions, the code clusters may not be complete.
                            <div class="nhsuk-u-padding-bottom-3"></div>
                            People with asplenia or splenic dysfunction due to diseases, may not be included in the digital cohort unless a GP practice uses a SNOMED CT code to show eligibility for flu vaccination.
                        </td>
                    </tr>

                </tbody> <!-- /. nhsuk-table__body -->
            </table> <!-- /. nhsuk-table-responsive -->
            <div class="nhsuk-u-padding-bottom-6"></div>
        </div> <!-- /. nhsuk-grid-column-full -->
    </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}