{% extends 'custom-layouts/unbranded.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <a href="cohort-manager">
          <img src="/images/cis-login.png" class="img-responsive" alt="a screen mock-up of the CIS 2 authentication solution with three authentication methods. The first authentication method is using a smartcard, the second is Windows Hello and the third using a security key." />
        </a>
      </div> <!-- /. nhsuk-grid-column-full -->
  </div> <!-- /. nhsuk-grid-row -->

{% endblock %}
