{% extends 'custom-layouts/explorer-v3/exp-default-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
    Accessibility statement for Cohorting as a Service (CaaS) - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Heading -->

        <h1 class="nhsuk-heading-xl">Accessibility statement for Cohorting as a Service (CaaS)</h1>
        <p class="nhsuk-body">The CaaS service is run by NHS England. We want everyone to be able to use it.</p>
        <p class="nhsuk-body">We're committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
        <p class="nhsuk-body">This service is compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>
        <p class="nhsuk-body">We have self-assessed the service for accessibility against those guidelines using assistive tools, accessibility assessment tools and accessibility testing.</p>
        <p class="nhsuk-body"><a href="https://abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
        
        <!-- How accessible the service is -->
        
        <h2>How accessible the service is</h2>
        <p>When using the service, you should be able to:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>navigate the service using just a keyboard</li>
            <li>navigate the service using speech recognition software</li>
            <li>listen to the service using a screen reader (including the most recent versions of NVDA and VoiceOver)</li>
            <li>access the service using a supported browser on a modern personal computer or device</li>
        </ul>
        <p>On sections that do not provide clinical information, we’ve also made the text as simple as possible to understand.</p>
        <p>We cannot guarantee the accessibility of links outside of the CaaS service that we do not own or manage.</p>

        <!-- Reporting accessiblity problems with the service -->

        <p>To call us using the NGT service, dial 18001 followed by 0300 303 5678.</p>
        <h2>Reporting accessibility problems with the service</h2>
        <p>We’re always looking to improve the accessibility of this service.</p>
        <p>If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email <a href="mailto:england.web@england.nhs.uk">england.web@england.nhs.uk</a> with details of the problem you have encountered.</p>

        <!-- Enforcement procedure -->

        <h2>Enforcement procedure</h2>
        <p>The Equality and Human Rights Commission is responsible for enforcing the accessibility regulations.</p>
        <p>If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/app/ask">contact the Equality Advisory and Support Service</a>.</p>
    </div> <!-- /. nhsuk-grid-column-two-thirds -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}
