{% extends 'custom-layouts/explorer/exp-default-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-full">
      <p class="nhsuk-u-font-size-24 nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-2">Influenza vaccinations winter 2022 to 2023</p>
      <h1 class="nhsuk-heading-xl">Code list</h1>

      <!-- Table at < 1024px viewport --> 

      <div class="nhsd-m-table__mobile-list">
        <ul class="nhsd-!t-display-s-hide">

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Clinical condition</p>
                <p class="m-table-content">Asthma that requires continuous or repeated use of inhaled steroids or systemic steroids.</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Code</p>
                <p class="m-table-content">
                  SNOMED SICKLE_COD
                  <div class="nhsuk-u-padding-bottom-3"></div>
                  ICD10, D570, D571, D572, D578</p>
              </li>
            </ul>
          </li>

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Clinical condition</p>
                <p class="m-table-content">Asthma with previous exacerbations requiring hospital admission.</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Code</p>
                <p class="m-table-content">
                  SNOMED SICKLE_COD
                  <div class="nhsuk-u-padding-bottom-3"></div>
                  ICD10, D570, D571, D572, D578</p>
              </li>
            </ul>
          </li>

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Clinical condition</p>
                <p class="m-table-content">Chronic obstructive pulmonary disease (COPD) including: chronic bronchitis and emphysema; bronchiectasis, cystic fibrosis, interstitial lung fibrosis, pneumoconiosis and bronchopulmonary dysplasia (BPD).</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Code</p>
                <p class="m-table-content">
                  SNOMED SICKLE_COD
                  <div class="nhsuk-u-padding-bottom-1"></div>
                  ICD10, D570, D571, D572, D578
                </p>
              </li>
            </ul>
          </li>

          <li>
            <ul class="nhsd-m-table__mobile-list-item">
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Clinical condition</p>
                <p class="m-table-content">Children who have previously been admitted to hospital for lower respiratory tract disease.</p>
              </li>
              <li class="m-table-content-wrapper">
                <p class="m-table-header">Code</p>
                <p class="m-table-content">
                  SNOMED SICKLE_COD
                  <div class="nhsuk-u-padding-bottom-1"></div>
                  ICD10, D570, D571, D572, D578
                </p>
              </li>
            </ul>
          </li>

        </ul> <!-- nhsd-!t-display-s-hide -->
      </div> <!-- /. nhsd-m-table__mobile-list -->

      <!-- Table at > 1024px viewport -->
      
      <table class="nhsuk-table chronic-respiratory-code-set-table-desktop">
        <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Clinical condition
              </th>
              <th role="columnheader" class="" scope="col">
                Code
              </th>
            </tr>
        </thead>
        <tbody class="nhsuk-table__body">

          <!-- #1 Clinical Condition -->

          <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell nhsuk-u-width-one-half">
                  Asthma that requires continuous or repeated use of inhaled steroids or systemic steroids.
              </td>
              <td class="nhsuk-table__cell nhsuk-u-width-one-half">
                  SNOMED SICKLE_COD
                  <div class="nhsuk-u-padding-bottom-3"></div>
                  ICD10, D570, D571, D572, D578
              </td>
          </tr>

          <!-- #2 Clinical Condition -->

          <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell nhsuk-u-width-one-half">
                  Asthma with previous exacerbations requiring hospital admission.
              </td>
              <td class="nhsuk-table__cell nhsuk-u-width-one-half">
                  SNOMED SICKLE_COD
                  <div class="nhsuk-u-padding-bottom-3"></div>
                  ICD10, D570, D571, D572, D578
              </td>
          </tr>

          <!-- #3 Clinical Condition -->

          <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell nhsuk-u-width-one-half">
                  Chronic obstructive pulmonary disease (COPD) including: chronic bronchitis and emphysema; bronchiectasis, cystic fibrosis, interstitial lung fibrosis, pneumoconiosis and BPD.
              </td>
              <td class="nhsuk-table__cell nhsuk-u-width-one-half">
                  SNOMED SICKLE_COD
                  <div class="nhsuk-u-padding-bottom-3"></div>
                  ICD10, D570, D571, D572, D578
              </td>
          </tr>

          <!-- #4 Clinical Condition -->

          <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell nhsuk-u-width-one-half">
                  Children who have previously been admitted to hospital for lower respiratory tract disease.
              </td>
              <td class="nhsuk-table__cell nhsuk-u-width-one-half">
                  SNOMED SICKLE_COD
                  <div class="nhsuk-u-padding-bottom-3"></div>
                  ICD10, D570, D571, D572, D578
              </td>
          </tr>

        </tbody> <!-- /. nhsuk-table__body -->
      </table> <!-- /. nhsuk-table -->
    </div> <!-- /. nhsuk-grid-column-full -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}
