{% extends 'custom-layouts/caas-header-logged-in.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "../v1/cohort-editor",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  
<div class="nhsuk-grid-row">
  <form action="review-cohort" method="POST">
    <div class="nhsuk-grid-column-full">
        
        <p class="nhsuk-caption-l">Vaccinations Influenza Spring 2023</p>
        <h1 class="nhsuk-heading-xl">Cohort activity</h1>
        
        <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Contibutor
              </th>
              <th role="columnheader" class="" scope="col">
                Date & Time
              </th>
              <th role="columnheader" class="" scope="col">
                Activity
              </th>
              <th role="columnheader" class="" scope="col">
                Comments
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <th class="nhsuk-table__cell">John Smith</th>
              <td class="nhsuk-table__cell">10 January 2023<br>10:22am</td>
              <td class="nhsuk-table__cell">Submitted for assurance</td>
              <td class="nhsuk-table__cell">
                <details class="nhsuk-details">
                  <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                      View comments
                    </span>
                  </summary>
                  <div class="nhsuk-details__text">
                    <p>A patient cohort has been created and made available in Data Processing Services (DPS) within NHS Digital where the VDP within NHSD will transfer it to the National Immunisation Management System (NIMS).</p>
                
                  </div>
                </details>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <th class="nhsuk-table__cell">Jane Smith</th>
              <td class="nhsuk-table__cell">11 October 2022<br>1:34pm</td>
              <td class="nhsuk-table__cell">Cohort updated</td>
              <td class="nhsuk-table__cell"></td>
            </tr>
          </tbody>
        </table>
        

          <button class="nhsuk-button" type="submit">
            Return to cohort
          </button>

        </div> <!-- /. nhsuk-grid-column-two-thirds -->
      </form> <!-- /. form -->
    </div> <!-- /. nhsuk-grid-row -->

{% endblock %}
