{% extends 'custom-layouts/caas-header-logged-in.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "../v1/cohort-editor",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  
<div class="nhsuk-grid-row">
  <form action="cohort-editor" method="POST" id="supporting-info">
    <div class="nhsuk-grid-column-two-thirds">
        
        <p class="nhsuk-caption-l">Vaccinations Influenza Spring 2023</p>
        <h1 class="nhsuk-heading-xl">Supporting information</h1>
        <p class="nhsuk-body">Sign off and approval (optional)</p>
        <p class="nhsuk-hint">Select any that have already been received.</p>


          <div class="nhsuk-form-group">
        
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
              
              <div class="nhsuk-checkboxes">
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="submission-1" name="submission-1" type="checkbox" value="Information Governance documentation approval" {{ checked("submission-1", "Information Governance documentation approval") }} onclick="deSelectCheckbox5();" >
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="submission-1">
                    Information Governance documentation approval
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="submission-2" name="submission-2" type="checkbox" value="Clinical Safety documentation sign off" {{ checked("submission-2", "Clinical Safety documentation sign off") }} onclick="deSelectCheckbox5();">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="submission-1">
                    Clinical Safety documentation sign off
                  </label>
                </div>
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="submission-3" name="submission-3" type="checkbox" value="Clinical Safety group approval" {{ checked("submission-3", "Clinical Safety group approval") }} onclick="deSelectCheckbox5();">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="submission-3">
                    Clinical Safety group approval
                  </label>
                </div>
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="submission-4" name="submission-4" type="checkbox" value="Live Services approval" {{ checked("submission-4", "Live Services approval") }} onclick="deSelectCheckbox5();">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="submission-4">
                    Live Services approval
                  </label>
                </div>
        
                <!-- <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="submission-5" name="submission-5" type="checkbox" value="None" {{ checked("submission-5", "None") }}" onclick="deSelectCheckbox1to4();">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="submission-5">
                    None
                  </label>
                </div> -->
        
              </div>
            </fieldset>
        
          </div>



        <!-- Add comment -->

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="add-comment">
            Provide any other information relevant to your cohort submission. This may be information that you have not been able to add in the previous sections (optional)
          </label>
          <textarea class="nhsuk-textarea" id="add-comment" name="add-comment" rows="5" aria-describedby="add-comment"></textarea>
        </div>
        
        

          <button class="nhsuk-button" type="submit" id="info-button">
            Save and return
          </button>
          <p><a href="cohort-editor">Cancel</a></p>

        </div> <!-- /. nhsuk-grid-column-two-thirds -->
      </form> <!-- /. form -->
    </div> <!-- /. nhsuk-grid-row -->

{% endblock %}


