{% extends 'custom-layouts/explorer/exp-cohort-library-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Cohort library - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Cohort library</h1>
      <p class="nhsuk-body-l">CaaS has created the following cohorts for the purpose of direct care.</p>
    </div> <!-- /. nhsuk-grid-column-two-thirds -->

    <div class="nhsuk-grid-column-full">
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Cohort name
              </th>
              <th role="columnheader" class="" scope="col">
                Description
              </th>
            </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <!--

          ** Pilot scope is only the Influenza cohort (March / April 23), COVID will be added back in when we start work on it. **

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <a href="#">COVID-19 booster vaccinations autumn 2022 to 2023</a>
            </td>
            <td class="nhsuk-table__cell">The autumn booster is being offered to those at high risk of the complications of COVID-19 infection. This should help to reduce the risk of being admitted to hospital with COVID-19.</td>
          </tr>
          -->
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <a href="influenza-winter-22-23/influenza-cohort">Influenza vaccinations 2022 to 2023</a>
            </td>
            <td class="nhsuk-table__cell">The winter flu vaccine provides direct protection to those who are at higher risk of serious illness or death. It aims to reduce transmission and contribute to the protection of vulnerable patients.</td>
          </tr>
        </tbody>
      </table>
    </div> <!-- /. nhsuk-grid-column-full -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}
