{% extends 'custom-layouts/caas-header-sub-nav.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {% set backText = "Go back to " + previousPageTitle if previousPageTitle else "Go back" %}
  {{ backLink({
    "href": "landing",
    "text": backText,
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <form action="#" method="POST">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">{{ currentPageTitle }}</h1>
        <p class="nhsuk-body-l">CaaS has created the following cohorts for the purpose of direct care.</p>
      </div> <!-- /. nhsuk-grid-column-two-thirds -->

      <div class="nhsuk-grid-column-full">
        <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Cohort name
                </th>
                <th role="columnheader" class="" scope="col">
                  Description
                </th>
              </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="#">COVID-19 booster vaccinations autumn 2022 to 2023</a>
              </td>
              <td class="nhsuk-table__cell ">The autumn booster is being offered to those at high risk of the complications of COVID-19 infection. This should help to reduce the risk of being admitted to hospital with COVID-19.</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="influenza-winter-22-23/influenza-cohort">Influenza vaccinations winter 2022 to 2023</a>
              </td>
              <td class="nhsuk-table__cell ">The winter flu vaccine provides direct protection to those who are at higher risk of influenza. It aims to reduce transmission to all age groups through the vaccination of children.</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- /. nhsuk-grid-column-full -->
    </form> <!-- /. form -->
  </div> <!-- /. nhsuk-grid-row -->

{% endblock %}
