{% extends 'custom-layouts/caas-header-sub-nav.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "landing",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <form action="#" method="POST">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">Data integration library</h1>
        <p class="nhsuk-body-l">The data integration library displays the data sources used in the cohorts.</p>
      </div> <!-- /. nhsuk-grid-column-two-thirds -->

      <div class="nhsuk-grid-column-full">
        <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Name
                </th>
                <th role="columnheader" class="" scope="col">
                  Description
                </th>
              </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell"><a href="#">Hospital episode library (HES)</a></td>
              <td class="nhsuk-table__cell ">
                <p>HES is a database containing:</p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>details of all admissions</li>
                  <li>accident and emergency attendances</li>
                  <li>outpatient appointments at NHS hospitals in England</li>
                </ul>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="#">Personal demographics service (PDS)</a>
              </td>
              <td class="nhsuk-table__cell ">
                <p>PDS is the national electronic database of NHS patient details such as:</p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>name</li>
                  <li>address</li>
                  <li>date of birth</li>
                  <li>NHS number (known as demographics information)</li>
                </ul>
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="#">General Practice Extraction Service (GPES)</a>
              </td>
              <td class="nhsuk-table__cell ">GPES collects information for a wide range of purposes, including providing GP payments.</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="#">GPES Data for Planning and Research (GDPPR)</a>
              </td>
              <td class="nhsuk-table__cell ">The use of GP patient information (also known as GP data) changes our understanding of what causes ill health. It helps us to find out what we can do to prevent or treat it and provide better care.</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="#">Maternity Services Data Set (MSDS)</a>
              </td>
              <td class="nhsuk-table__cell">MSDS is a patient-level data set that captures information about activity carried out by Maternity Services relating to a mother and baby or babies.</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="#">National pathology Exchange (NPEx)</a>
              </td>
              <td class="nhsuk-table__cell ">NPEx is a national service for NHS pathology managers to connect all UK labs together through a single exchange hub.</td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="#">Systemic Anti-Cancer Therapy (SACT)</a>
              </td>
              <td class="nhsuk-table__cell">SACT) data set captures activity data relating to the treatment of cancer with medicines.</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- /. nhsuk-grid-column-full -->
    </form> <!-- /. form -->
  </div> <!-- /. nhsuk-grid-row -->

{% endblock %}
