{% extends 'custom-layouts/caas-header-sub-nav.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <form action="#" method="POST">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">Data integrations library</h1>
        <p class="nhsuk-body-l">The library shows all the data sets that were used when building the cohorts</p>
      </div> <!-- /. nhsuk-grid-column-two-thirds -->

      <div class="nhsuk-grid-column-full">
        <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Name
                </th>
                <th role="columnheader" class="" scope="col">
                  Description
                </th>
              </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            <!-- General Practice Extraction Service (GPES) -->

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="#">General Practice Extraction Service (GPES)</a>
              </td>
              <td class="nhsuk-table__cell ">GPES collects information for a wide range of purposes, including providing GP payments.</td>
            </tr>

            <!-- GPES Data for Planning and Research (GDPPR) -->

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="#">GPES Data for Planning and Research (GDPPR)</a>
              </td>
              <td class="nhsuk-table__cell ">The purpose of this data collection is to respond to the intense demand for General Practice data to be shared. This supports the vital planning and research for COVID-19 purposes.</td>
            </tr>

            <!-- Hospital Episode Statistics (HES) -->           

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="#">Hospital Episode Statistics (HES)</a>
              </td>
              <td class="nhsuk-table__cell ">
                <p>HES is a database containing:</p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>details of all admissions</li>
                  <li>accident and emergency attendances</li>
                  <li>outpatient appointments at NHS hospitals in England</li>
                </ul>
              </td>
            </tr>

            <!-- OPCS-4: Classification of Interventions and Procedures -->           

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="#">OPCS-4: Classification of Interventions and Procedures</a>
              </td>
              <td class="nhsuk-table__cell ">OPCS-4 is a clinical classification standard. It’s mandated nationally for use across the NHS and consists of a grouping of concepts (codes), plus definitions and business rules for its use.</td>
            </tr>

            <!-- Systemic Anti-Cancer Therapy (SACT) Dataset -->

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="#">Systemic Anti-Cancer Therapy (SACT) Dataset</a>
              </td>
              <td class="nhsuk-table__cell">SACT data set captures activity data relating to the treatment of cancer with medicines.</td>
            </tr>

            <!-- Radiotherapy Treatment Data Service (RTDS) -->

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="#">Radiotherapy Treatment Data Service (RTDS)</a>
              </td>
              <td class="nhsuk-table__cell">Providers of NHS-funded radiotherapy services are required to submit a monthly return on their delivery of radiotherapy treatments.</td>
            </tr>

          </tbody> <!-- /. nhsuk-table__body -->
        </table> <!-- /. nhsuk-table -->
      </div> <!-- /. nhsuk-grid-column-full -->
    </form> <!-- /. form -->
  </div> <!-- /. nhsuk-grid-row -->

{% endblock %}
