{% extends 'custom-layouts/caas-header-sub-nav.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <form action="#" method="POST">
      <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-xl">Cohorting as a Service (CaaS)</h1>
          <p class="nhsuk-body-l">CaaS securely identifies groups of people with shared characteristics from national health data. The results enable tailored direct care to be delivered to improve health and social care outcomes.</p>
      </div> <!-- /. nhsuk-grid-column-two-thirds -->

      <div class="nhsuk-grid-column-full">
        <ul class="nhsuk-grid-row nhsuk-card-group">
          <!-- Cohort library card -->
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="cohort-library">Cohort library</a>
                </h2>
                <p class="nhsuk-card__description">Explore the current cohorts created by CaaS.</p>
              </div>
            </div>
          </li>
          <!-- Condition group library Card -->
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="condition-group-library">Condition group library</a>
                </h2>
                <p class="nhsuk-card__description">Find detailed information on individual clinical conditions.</p>
              </div>
            </div>
          </li>
          <!-- Data integrations library Card -->
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="data-integration-library">Data integrations library</a>
                </h2>
                <p class="nhsuk-card__description">The library contains a complete list of the data sources used in the cohorts.</p>
              </div>
            </div>
          </li>
          <!-- Guidance -->
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link" href="contact-us">Contact us</a>
                </h2>
                <p class="nhsuk-card__description">Send us a message if you would like to give us feedback or report an issue.</p>
              </div>
            </div>
          </li>
        </ul> <!-- /. nhsuk-card-group -->
      </div> <!-- /. nhsuk-grid-column-full -->
    </form> <!-- /. form -->
  </div> <!-- /. nhsuk-grid-row -->

{% endblock %}
