{% extends 'custom-layouts/caas-header-logged-in.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "cohort-outcome",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="cohort-submitted" method="get" role="form">

      <h1 class="nhsuk-heading-xl">Check review details</h1>
  
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
  
          <!-- Name of cohort -->
  
          <dt class="nhsuk-summary-list__key">Name of cohort</dt>
          <dd class="nhsuk-summary-list__value">{{ data['name-of-cohort'] or 'Vaccinations Influenza Spring 2023'}}</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="add-cohort-details">
              Change<span class="nhsuk-u-visually-hidden"> name of cohort</span>
            </a>
          </dd>
        </div>

        <!-- checklist -->

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Checklist</dt>
          <dd class="nhsuk-summary-list__value">

            <!-- Other -->

            {% if data['submission-1'] %}
              <li>{{ data['submission-1'] }}</li>
            {% else %}
              {{ 'None' }}
            {% endif %}

            {% if data['submission-2'] %}
            <li>{{ data['submission-2'] }}</li>
            {% endif %}

            {% if data['submission-3'] %}
            <li>{{ data['submission-3'] }}</li>
            {% endif %}

            {% if data['submission-4'] %}
            <li>{{ data['submission-4'] }}</li>
            {% endif %}

          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="add-comment">
              Change<span class="nhsuk-u-visually-hidden"> checklist</span>
            </a>
          </dd>
        </div> <!-- /. nhsuk-summary-list-row -->

        <!-- Comment -->
    
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Review information</dt>
          <dd class="nhsuk-summary-list__value">{{ data['add-comment'] or 'No comment added.'}}</dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="add-comment">
              Change<span class="nhsuk-u-visually-hidden"> summary of cohort</span>
            </a>
          </dd>
        </div>

        <!-- Comment -->
    
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Outcome</dt>
          <dd class="nhsuk-summary-list__value">{{ data['outcome'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="add-comment">
              Change<span class="nhsuk-u-visually-hidden"> checklist</span>
            </a>
          </dd>
        </div>
      </dl> <!-- /. nhsuk-summary-list -->

      </dl>

      <!-- Submission actions -->
  
  
      <dl class="nhsuk-summary-list">

      <div class="nhsuk-inset-text">
        <p>Make sure that all the information you have provided is correct as you will no longer be able to change your decision once you have submitted.</p>
      </div>

      <!-- Page Actions -->
  
      <button class="nhsuk-button" type="submit">Submit outcome</button>
      <p>
        <a href="cohort-locked">Cancel</a>
      </p>

    </form> <!-- /. nhsuk-form -->
  </div> <!-- /. nhsuk-grid-column-full -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}
