{% extends 'custom-layouts/caas-header-sub-nav.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">We cannot find that page</h1>
        <p class="nhsuk-body">We cannot find that page.</p>
        <p>This can happen if:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>you type a web address and it has a mistake in it</li>
            <li>you copy and paste only part of a full web address</li>
            <li>there is a technical problem</li>
        </ul>
        <p>Check and make sure the web address you typed or pasted is correct and is the full address.</p>
        <p>If the web address is correct, or you selected a link on a page that brought you here, there may be a technical problem. Please try again later.</p>
        <a href="#">Return to homepage</a>
    </div> <!-- /. nhsuk-grid-column-two-thirds -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}
