{% extends 'custom-layouts/caas-header-sub-nav.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  CaaS prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <form action="#" method="POST">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">Unauthorised</h1>
        <p class="nhsuk-body">You are not authorised to view this page.</p>
        <a href="#">Return to homepage</a>
    </div> <!-- /. nhsuk-grid-column-two-thirds -->
  </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->

{% endblock %}
