{% extends 'custom-layouts/caas-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
Cohorting as a Service (CaaS) - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <form action="#" method="POST">
        <div class="nhsuk-grid-column-two-thirds">

            <h1 class="nhsuk-heading-xl">Flu cohort 2022 to 2023</h1>

            <h2 class="nhsuk-heading-l">Summary [TBC]</h2>
            <p>As part of their vaccination programme, NHS Digital commissioned Cohorting as a Service (CaaS) to
                identify people that were eligible for the 2022 to 2023 winter flu vaccination.</p>

            <p>These people needed to be:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>6 months of age or older</li>
                <li>in defined clinical risk groups shown in the <a href="" class="nhsuk-link">Green Book, chapter
                        19</a></li>
            </ul>

            <p>CaaS developed specific rules based on the conditions in the Green Book and used medical data to identify
                people who met those rules.</p>

            <p>The data collected helped to:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>contact or remind people to receive their flu vaccination between 1 September 2022 and 31 March 2023
                </li>
                <li>provide direct protection to those at clinical risk of flu</li>
                <li>monitor the number of people who received the flu vaccination</li>
            </ul>

        </div> <!-- /. nhsuk-grid-column-two-thirds -->

        <div class="nhsuk-grid-column-full">

            <h2 class="nhsuk-heading-l">Condition groups [TBC]</h2>

            <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                        Chronic respiratory disease
                    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <table role="table" class="nhsuk-table-responsive">
                        <thead role="rowgroup" class="nhsuk-table__head">
                            <tr role="row">
                                <th role="columnheader" class="" scope="col">
                                    Rule name
                                </th>
                                <th role="columnheader" class="" scope="col">
                                    Datasets and Codelists
                                </th>
                                <th role="columnheader" class="" scope="col">
                                    Resolved
                                </th>
                                <th role="columnheader" class="" scope="col">
                                    Min age
                                </th>
                                <th role="columnheader" class="" scope="col">
                                    Max age
                                </th>
                                <th role="columnheader" class="" scope="col">
                                    Occurences
                                </th>
                            </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">

                            <!--
                         Row 1
                     -->

                            <tr role="row" class="nhsuk-table__row">
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Rule name </span>
                                    Asthma
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Datasets and Codelists </span>
                                    ASTADMSN_COD
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Resolved </span>
                                    No
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Min age (months) </span>
                                    60 months
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span span class="nhsuk-table-responsive__heading">Max age (months) </span>

                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Occurences (months) </span>
                                    24 months
                                </td>
                            </tr>

                            <!--
                         Row 2
                     -->

                            <tr role="row" class="nhsuk-table__row">
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Rule name </span>
                                    COPD including Chronic bronchitis and Emphysema
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Datasets and Codelists </span>
                                    ICD10 J41, J42, J43, J44, J684
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Resolved </span>
                                    No
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Min age (months) </span>
                                    192 months
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span span class="nhsuk-table-responsive__heading">Max age (months) </span>

                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Occurences (months) </span>

                                </td>
                            </tr>

                            <!--
                         Row 3
                     -->

                            <tr role="row" class="nhsuk-table__row">
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Rule name </span>
                                    Bronchiectasis
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Datasets and Codelists </span>
                                    ICD10 J47
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Resolved </span>
                                    No
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Min age (months) </span>
                                    192 months
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span span class="nhsuk-table-responsive__heading">Max age (months) </span>

                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Occurences (months) </span>

                                </td>
                            </tr>

                            <!--
                         Row 4
                     -->

                            <tr role="row" class="nhsuk-table__row">
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Rule name </span>
                                    Cystic fibrosis bronchopulmonary dysplasia (BPD)
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Datasets and Codelists </span>
                                    ICD10 E84, P271
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Resolved </span>
                                    No
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Min age (months) </span>
                                    60 months
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span span class="nhsuk-table-responsive__heading">Max age (months) </span>

                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Occurences (months) </span>

                                </td>
                            </tr>

                            <!--
                         Row 5
                     -->

                            <tr role="row" class="nhsuk-table__row">
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Rule name </span>
                                    Interstitial Lung Fibrosis
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Datasets and Codelists </span>
                                    ILD_COD, ICD10 J84, J701
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Resolved </span>
                                    No
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Min age (months) </span>
                                    192 months
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span span class="nhsuk-table-responsive__heading">Max age (months) </span>

                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Occurences (months) </span>

                                </td>
                            </tr>

                            <!--
                         Row 6
                     -->

                            <tr role="row" class="nhsuk-table__row">
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Rule name </span>
                                    Pneumoconiosis
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Datasets and Codelists </span>
                                    ICD10 J60, J61, J62, J63, J64, J65, J66, J67
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Resolved </span>
                                    No
                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Min age (months) </span>

                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span span class="nhsuk-table-responsive__heading">Max age (months) </span>

                                </td>
                                <td role="cell" class="nhsuk-table__cell">
                                    <span class="nhsuk-table-responsive__heading">Occurences (months) </span>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </details>

            <!--
            Chronic Heart Disease
        -->

            <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                        Chronic heart disease
                    </span>
                </summary>
                <div class="nhsuk-details__text">

                </div>
            </details>

            <!--
            Chronic Kidney Disease
        -->

            <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                        Chronic kidney disease
                    </span>
                </summary>
                <div class="nhsuk-details__text">

                </div>
            </details>

            <!--
            Chronic Liver Disease
        -->

            <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                        Chronic liver disease
                    </span>
                </summary>
                <div class="nhsuk-details__text">

                </div>
            </details>

        </div> <!-- /. nhsuk-grid-column-full -->
    </form> <!-- /. form -->
</div> <!-- /. nhsuk-grid-row -->


{% endblock %}