{% extends 'custom-layouts/caas-header.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Cohorting as a Service (CaaS) - NHS England
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <form action="#" method="POST">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">View or search cohorts</h1>

        <p class="nhsuk-body">[Placeholder text - TBC Content]</p>

        <!--

        <div class="nhsuk-u-padding-bottom-5"></div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="example">
            Search cohort
          </label>
          <input id="search-input" type="text" name="search" class="nhsuk-input">
        </div>

        -->

       </div> <!-- /. nhsuk-grid-column-two-thirds -->

       <div class="nhsuk-grid-column-full">

        <div class="nhsuk-u-padding-bottom-5"></div>

        <table role="table" class="nhsuk-table-responsive">
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Cohort name
                </th>
                <th role="columnheader" class="" scope="col">
                  Date
                </th>
                <th role="columnheader" class="" scope="col">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Cohort name </span>
                  Flu vaccinations 2022 to 2023
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Date </span>
                  10 October 2022
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Action </span>
                  <a href="flu-cohort">View</a>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Cohort name </span>
                  COVID-19 autumn booster vaccinations 2022 to 2023
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Date </span>
                  25 October 2022
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Action </span>
                  <a href="#!">View</a>
                </td>
              </tr>
            </tbody>
        </table>

      </div> <!-- /. nhsuk-grid-column-full -->
    </form> <!-- /. form -->
  </div> <!-- /. nhsuk-grid-row -->

  <script>

    function autocomplete(inp, arr) {
        // The autocomplete function takes two arguments, the text field element and an array of possible autocompleted values
        var currentFocus;
        // Execute a function when someone writes in the text field
        inp.addEventListener("input", function (e) {
        var a, b, i, val = this.value;
        // Close any already open lists of autocompleted values
        closeAllLists();
        if (!val) {
            return false;
        }
        currentFocus = -1;
        // Create a DIV element that will contain the items (values)
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        // Append the DIV element as a child of the autocomplete container
        this.parentNode.appendChild(a);
        /*for each item in the array...*/
        for (i = 0; i < arr.length; i++) {
            // Check if the item starts with the same letters as the text field value
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            // Create a DIV element for each matching element
            b = document.createElement("DIV");
            // Make the matching letters bold
            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(val.length);
            // Insert a input field that will hold the current array item's value
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            // Execute a function when someone clicks on the item value (DIV element)
            b.addEventListener("click", function (e) {
                // Insert the value for the autocomplete text field
                inp.value = this.getElementsByTagName("input")[0].value;
                // close the list of autocompleted values, (or any other open lists of autocompleted values
                closeAllLists();
            });
            a.appendChild(b);
            }
        }
        });
        // Execute a function presses a key on the keyboard
        inp.addEventListener("keydown", function (e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
            //If the arrow DOWN key is pressed, increase the currentFocus variable
            currentFocus++;
            // And and make the current item more visible
            addActive(x);
        } else if (e.keyCode == 38) { //up
            // If the arrow UP key is pressed, decrease the currentFocus variable
            currentFocus--;
            // And and make the current item more visible:*/
            addActive(x);
        } else if (e.keyCode == 13) {
            // If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
            // And simulate a click on the "active" item:*/
            if (x) x[currentFocus].click();
            }
        }
        });

        function addActive(x) {
        // A function to classify an item as "active":
        if (!x) return false;
        // start by removing the "active" class on all items:
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        // Add class "autocomplete-active"
        x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
        // A function to remove the "active" class from all autocomplete items
        for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
        }
        }

        function closeAllLists(elmnt) {
        // Close all autocomplete lists in the document, except the one passed as an argument:
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
            }
        }
        }
        // Execute a function when someone clicks in the document 
        document.addEventListener("click", function (e) {
        closeAllLists(e.target);
        });
    }

    // Array containing all the autocomplete values

    var cohorts = [
        "Flu vaccinations 2022 to 2023",
        "COVID-19 autumn booster vaccinations 2022 to 2023"
    ];

    // Initiate the autocomplete function on the "id" elements, and pass along the arrays as possible autocomplete values

    autocomplete(document.getElementById("search-input"), cohorts);

  </script>



{% endblock %}
